<div style="padding:20px;">
    <mat-action-list>
        <h1 matSubheader>Filter PG</h1>
    </mat-action-list>
    <mat-list role="list">
        <h1 matSubheader>OCCUPANCY |&nbsp; <span (click)="clearOccupancyFilter()"> <kbd style="font-size:8px; border-radius:5px;">clear
                    filter x</kbd></span></h1>
        <div class="filterOptions">
            <mat-list-item *ngFor="let item of occupencyArray" role="listitem">
                <input type="checkbox" class="example-margin" [checked]="item.checkedStatus" [id]="item.id" (click)="setOccupancyfilter(item.id, item.name)" />&nbsp;&nbsp;<small>{{item.name}}</small>
            </mat-list-item>
        </div>
    </mat-list>
    <mat-list role="list">
        <h1 matSubheader>BUDGET |&nbsp; <span (click)="clearBudgetFilter()"><kbd style="font-size:8px;">clear filter x</kbd></span></h1>
        <div class="filterOptions">
            <mat-list-item *ngFor="let item of budgetArray" role="listitem">
                <input type="checkbox" class="example-margin" [checked]="item.checkedStatus" [id]="item.id" (click)="setBudgetfilter(item.id, item.name)" />&nbsp;&nbsp;<small>{{item.name}}</small>
            </mat-list-item>
        </div>
    </mat-list>
    <mat-list role="list">
        <h1 matSubheader>GENDER |&nbsp; <span (click)="cleanGenderFilter()"><kbd style="font-size:8px;">clear filter x</kbd></span></h1>
        <div class="filterOptions">
            <mat-list-item *ngFor="let item of genderArray" role="listitem">
                <!-- <mat-checkbox class="example-margin" [checked]="item.checkedStatus" (click)="setGenderFilter(item.id, item.name)"><small>{{item.name}}</small></mat-checkbox> -->
                <input type="checkbox" class="example-margin" [checked]="item.checkedStatus" [id]="item.id" (click)="setGenderFilter(item.id, item.name)" />&nbsp;&nbsp;<small>{{item.name}}</small>
            </mat-list-item>
        </div>
    </mat-list>
    <mat-list role="list" *ngIf="false">
        <h1 matSubheader>RATING</h1>
        <div class="filterOptions">
            <mat-list-item *ngFor="let item of ratingArray" role="listitem">
                <mat-checkbox class="example-margin" [checked]="item.checkedStatus" (click)="setRatingFilter(item.id, item.name)">
                    <div *ngIf="item.numberOfStar==5">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    </div>
                    <div *ngIf="item.numberOfStar==4">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    </div>
                    <div *ngIf="item.numberOfStar==3">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    </div>
                    <div *ngIf="item.numberOfStar==2">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    </div>
                    <div *ngIf="item.numberOfStar==1">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
                    </div>
                </mat-checkbox>
            </mat-list-item>
        </div>
        <div style="float:right; padding-bottom:10px;">
            <button mat-raised-button (click)="filterData()">Filter Data</button>
            <button mat-raised-button mat-dialog-close>Cancel</button>
        </div>
    </mat-list>
    <div style="float:right; padding-bottom:10px;">
        <button mat-raised-button color="accent" (click)="filterData()">Filter</button>&nbsp;
        <button mat-raised-button mat-dialog-close>Cancel</button>
    </div>
</div>