<!--Section: FAQ-->
<div class="container py-3">
  <h3 class="text-center mb-4 pb-2 fw-bold text-color-accent">FAQ</h3>
  <p class="text-center mb-5">Read through our FAQ's</p>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">What is Grubstay ?</h6>
      <p class="text-center">
        Grubstay shows your perfect destination for your stay in PG, you can
        find the Luxury PGs with all facilities at an affordable price.
        Exclusively designed for students and working professionals, If you are
        new to the city worried about your Stay in PG how to choose we are here
        to help you with a solution, we can list you the best PGs in Bangalore
        where you are looking to stay and you will provide with basic to
        top-class facilities PGs as per your budget-friendly.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        How many meals will I get in a day at Grubstay?
      </h6>
      <p class="text-center">
        It depends on the property you are staying at. But you’ll have the
        option to choose your mealtime according to your preferences.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        How can I book a PGs in Bangalore for myself?
      </h6>
      <p class="text-center">
        Explore the PGs in Bangalore by Grubstay. Providing you the top
        facilities like fully furnished rooms, hot water supply, healthy food,
        parking space, WIFI, washing machine and 24/7 security. you can book by
        Registering yourself.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        What type of properties are there at Grubstay ?
      </h6>
      <p class="text-center">
        Grubstay provides you with a wide range of PG listings with all types of
        sharing like single sharing, double sharing, triple sharing and multiple
        sharing.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        Which cities does Grubstay operate in?
      </h6>
      <p class="text-center">
        Currently, Grubstay operates only in Bangalore, but we will soon open
        our Services in multiple cities.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        How many people will I have to share my room with?
      </h6>
      <p class="text-center">
        That will depend on which kind of room you choose. If you like to stay
        alone, then you can opt for a private room, if you like to stay with a
        roommate, you can choose between two sharing rooms, three sharing rooms,
        or four sharing rooms.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        Is that possible to see the room before booking?
      </h6>
      <p class="text-center">
        Of course, you can see the room before booking at GRUBSTAY. Kindly
        schedule the date and time of your visit.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        Is GRUBSTAY provide unisex stay?
      </h6>
      <p class="text-center">
        Yes, GRUBSTAY provides Unisex stay, Co-living Stay and Sperate Men and
        Women Pgs also. Find you Best Unisex PGs in bangalore.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        Is PG safe for girls in Bangalore?
      </h6>
      <p class="text-center">
        Most PGs accommodations lacked safety measures, basic facilities, and
        even proper hygiene. Data pulled out from news reports and police
        records suggest an increasingly number of crimes happening in these
        facilities.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        What is the average PG cost in Bangalore?
      </h6>
      <p class="text-center">
        PGs in Bangalore are competing to provide maximum value for rent. At an
        average, a twin sharing room costs between Rs 6,500 to Rs 8,000 per
        month, depending on the location and inclusion of food. While a
        3-sharing room costs between Rs 5,000 to Rs 6,000 per month. One can
        select best PG from Grubstay.in by applying price range filter.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        Which PG is good in Bangalore?
      </h6>
      <p class="text-center">
        Some of the top PG locations in Bengaluru include Whitefield, HSR
        Layout, Koramamgala, JP Nagar, Nagawara and Electronic City.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        Which is better PG or flat in Bangalore?
      </h6>
      <p class="text-center">
        PG is usually preferred by the students or corporates and it will
        provide you with the food facility and it is accompanied by other
        services like cleaning etc. But Flat is generally preferred by families
        as they need more space and also the privacy of the family is
        maintained.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">Does PG provide food?</h6>
      <p class="text-center">
        A PG or 'paying guest' is a place where you literally pay to be a guest
        at someone else's house. They give you food and space to live, while you
        pay them a monthly rent.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">Is Bangalore costly?</h6>
      <p class="text-center">
        Karnataka's capital Bengaluru is the fourth most expensive city in India
        for expatriates. According to Mercer's '2020 Cost of Living Survey ',
        Bengaluru is the fourth most expensive city in India and is placed in
        the 171 position in the global rankings.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        Is PG better than home?
      </h6>
      <p class="text-center">
        Families generally prefer flats as they require significant space and
        maintain their privacy. PG is preferred by the students or working
        professionals as it provides the food facility accompanied by other
        services like cleaning, etc. . Flats do not offer much safety and
        security. PG is the best option as it is safe
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        Is PG better than rent?
      </h6>
      <p class="text-center">
        One of the most significant advantages of staying in a PG is that they
        are comparatively cheaper to rent than independent houses. Besides, it
        is economical as you share all your expenses along with risks.
        Independent homes, on the other side, are costlier, as they are more
        spacious
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        Are there unisex PG in Bangalore?
      </h6>
      <p class="text-center">
        You can find wide range of co-living pgs on GRUBSTAY website.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        How much is the rent for PG in Bangalore?
      </h6>
      <p class="text-center">
        At an average, a twin sharing room costs between Rs 6,500 to Rs 8,000
        per month, depending on the location and inclusion of food. While a
        3-sharing room costs between Rs 5,000 to Rs 6,000 per month.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        Is PG cheaper than a hostel?
      </h6>
      <p class="text-center">
        PGs are more expensive than hostels and sometimes may even have extra
        hidden costs. Hostel fees are quite affordable. But low rents often come
        with low quality.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">How do I choose a PG?</h6>
      <p class="text-center">
        Tips to Choose Best PG Accomodation Seamless Connectivity. When it comes
        to transport, check whether the PG is situated in the prime locality so
        that you can have good connectivity to major places in the city. 1.
        Pricing 2. Food 3. Convenience 4. Safety 5. Hygiene 6. Guest Policy
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        What is the difference between paying guest and tenant?
      </h6>
      <p class="text-center">
        To make it clear, a tenant is a person who lives in someone else's
        independent house, flat or apartment and pays rent to the owner in
        consideration. A paying guest, on the other hand, stays with the owner,
        in the owner's premises with a room or a small portion of the home
        booked for him. He, too, pays the rent.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">What is PG service?</h6>
      <p class="text-center">
        Paying guest accommodation is the ability for a guest to rent a portion
        of a house from the owner or landlord. The owner will live in the house
        with you and provide you with basic amenities, such as food, laundry and
        utilities, for a fee.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        What is the PG rate in Bangalore?
      </h6>
      <p class="text-center">
        At an average, a twin sharing room costs between Rs 6,500 to Rs 8,000
        per month, depending on the location and inclusion of food. While a
        3-sharing room costs between Rs 5,000 to Rs 6,000 per month.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        Which are the top localities to find PG in Bangalore ?
      </h6>
      <p class="text-center">
        Some of Bangalore localities with high count of PGs are Marathahalli,
        Whitefield, Koramangala, HSR Layout.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        What are the Things to Remember While Renting a Luxury PG in Bangalore?
      </h6>
      <p class="text-center">
        The thing to remember while renting a Boys PG or Girls PG in Bangalore
        is what you'll remember years after you've left the place. Will you have
        boring memories of living in a simple, old-fashioned PG accommodation?
        Or will you look back at the time as a phase where you made lifetime
        friends and grew as a person, as you would in your second home? Then the
        choice will be clear.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        How do I find a PG in Bangalore?
      </h6>
      <p class="text-center">
        The best way to look for pg property for pg without a broker in
        Bangalore is by searching on Grubstay.com. The Grubstay website has
        plenty of options that you can choose from. The best part is that there
        are no brokers on the website. You get to connect DIRECTLY with
        landlords.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        Which area is good for PG in Bangalore?
      </h6>
      <p class="text-center">
        Some of Bangalore localities with high count of PGs are Marathahalli,
        Whitefield, Koramangala, HSR Layout, Electronic City, Nagawara
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        Is food included in Grubstay?
      </h6>
      <p class="text-center">
        It's "All Inclusive" with your rental. Flexible food options available.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        How much does Girls PG cost in Bangalore?
      </h6>
      <p class="text-center">
        6,000 to 15,000. Add the expenses of a domestic help's salary,
        groceries, transport, electricity, and nightlife, and pretty soon you'll
        have a long list of monthly expenses.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        Is there mixed PG or Co-living PG in Bangalore?
      </h6>
      <p class="text-center">
        Grubstay offers both male and female PGs in Bangalore for long stays. We
        believe in a hassle-free stay coupled with good hygiene and delicious
        food. Grubstay provides PG for Men, PG for Women, and Unisex
        PGs/Co-Living PGs in Bangalore. You can also choose between a single
        room PG or a shared room PG.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        How Can I find the best PG near me?
      </h6>
      <p class="text-center">
        If you go to Google and search Best PG near me, it will bring you to
        Grubstay which shows pgs with a range of options. Select PG with 4+ star
        criteria.
      </p>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3 text-color-accent text-center">
        What is notice period in paying guest?
      </h6>
      <p class="text-center">
        Your landlord cannot refuse to return your security deposit: Most paying
        guests ask students to serve one month notice period before vacating the
        place.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
