<div *ngIf="!(isHandset$ | async)">
    <div class="bootstrap-wrapper">
        <div class="container-fluid footer-section mt-20">
            <div class="row">
                <hr>
                <div class="col-md-3 col-sm-6 col-xs-12 mt-20">
                    <span class="logo">GRUBSTAY</span>
                    <div>
                        <span><img src="../../../assets/imgs/social/facebook.svg" alt="facebooklogo"></span>&nbsp;
                        <span><img src="../../../assets/imgs/social/instagram.svg" alt="facebooklogo"></span>&nbsp;
                        <span><img src="../../../assets/imgs/social/linkedin.svg" alt="facebooklogo"></span>&nbsp;
                        <span><img src="../../../assets/imgs/social/twitter.png" alt="facebooklogo"></span>&nbsp;
                        <span><img src="../../../assets/imgs/social/youtube.svg" alt="facebooklogo"></span>&nbsp;
                    </div>
                    <div>
                        <h5 class="wordspace5">Made with &hearts; in India</h5>
                    </div>
                    <small id="emailHelp" class="form-text text-muted">Copyright © Grubstay.com All rights
                        reserved</small>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 mt-20">
                    <span class="logo-sm">Company</span>
                    <div class="line"></div>
                    <ul class="list-unstyled">
                        <li>
                            <p>About us</p>
                        </li>
                        <li>
                            <p>Contact us</p>
                        </li>
                        <li>
                            <p>Blogs</p>
                        </li>
                        <li>
                            <p>Privacy Policy</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 mt-20">
                    <span class="logo-sm">Citites</span>
                    <div class="line"></div>
                    <ul class="list-unstyled">
                        <li>
                            <p>Banglore</p>
                        </li>
                        <li>
                            <p>Mumbai</p>
                        </li>
                        <li>
                            <p>Delhi</p>
                        </li>
                        <li>
                            <p>Hyderabad</p>
                        </li>
                        <li>
                            <p>Pune</p>
                        </li>
                        <li>
                            <p>Gurgaon</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 mt-20">
                    <span class="logo-sm">Keep it up to date</span>
                    <div class="line"></div>
                    <div class="mt-20"></div>
                    <span class="logo-sm"><b>Join our community!</b></span><br>
                    <span class="logo-sm"><b>Subscribe to the free Newsletter</b></span>
                    <div class="form-row mb-2">
                        <input class="" type="text" style="width:200px;" placeholder="Email">&nbsp;
                        <button type="text" class="btn btn-danger btn-sm">Suscribe</button>
                    </div>
                    <!-- <div class="blank-space"></div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #e2e2e2;" *ngIf="isHandset$ | async">
    <mat-divider class="mt-10"></mat-divider>
    <div class="bootstrap-wrapper">
        <div class="container text-center mt-2 mb-2">
            <h5 style="font-family: 'Montserrat', sans-serif; font-weight: 600; font-size: 18px;">GRUBSTAY</h5>
        </div>
        <div class="container-fluid">
            <div class="row">
                <h6>Corporate Office</h6>
                <small>
                    <p>HSR Layout, Sector 6, Near Asha tiffins
                        <br>
                        Bengaluru, Karnataka 560102
                    </p>
                </small>
                <mat-divider></mat-divider>
            </div>
            <div class="row mt-2">
                    <h6>Company Information</h6>
                    <small>
                        <p class="footer-links">
                            <a href="#">About us</a> | <a href="#">Contact us</a> | <a href="#">Careers</a> | <a
                                href="#">Blog</a> | <br>
                            <a href="#">FAQ's</a> | <a href="#">Privacy Policy</a> | <a href="#">Sitemaps</a>
                        </p>
                    </small>
            </div>
            <div class="row">
                <h6>Contact us</h6>
                <small>
                    <p style="color: grey;">
                        +91-8050163861
                        <br>
                        info@grubstay.com
                    </p>
                </small>
                <mat-divider></mat-divider>
            </div>
            <div class="row mt-2">
                <div class="col-4 mt-2">
                    <h6>Stay in touch</h6>
                </div>
                <button mat-icon-button>
                    <img src="../../../assets/imgs/social/facebook.svg" alt="facebooklogo">
                </button>
                <button mat-icon-button>
                    <img src="../../../assets/imgs/social/twitter.svg" alt="twitterLogo">
                </button>
                <button mat-icon-button>
                    <img src="../../../assets/imgs/social/linkedin.svg" alt="linkedInlogo">
                </button>
                <button mat-icon-button>
                    <img src="../../../assets/imgs/social/instagram.svg" alt="instaLogo">
                </button>
            </div>
        </div>
    </div>
</div>