<div *ngIf="!(isHandset$ | async)">
    <div class="bootstrap-wrapper">
        <div class="container-fluid footer-section mt-20">
            <div class="row">
                <hr>
                <div class="col-md-4 col-sm-6 col-xs-12 mt-20 text-center">
                    <span class="logo">GRUBSTAY</span>
                    <!--<div>
                        <span><a href="https://www.facebook.com/grubstay/" target="_blank"><img src="../../../assets/imgs/social/facebook.svg" alt="facebooklogo"></a></span>&nbsp;
                        <span><a href="https://www.instagram.com/grubstay/" target="_blank"><img src="../../../assets/imgs/social/instagram.svg" alt="instagramLogo"></a></span>&nbsp;
                        <span><a href="https://www.linkedin.com/company/grubstay/" target="_blank"><img src="../../../assets/imgs/social/linkedin.svg" alt="linkedInlogo"></a></span>&nbsp;
                        <span><a href="https://www.twitter.com/grubstay/" target="_blank"><img src="../../../assets/imgs/social/twitter.svg" alt="twitterLogo"></a></span>&nbsp;
                    </div>-->
                    <div class="mt-20">
<!--                        <h5 class="wordspace5">Made with &hearts; in India</h5>-->
                        <h6 class="wordspace5">Corporate Office</h6>
                    </div>
                    <!--<small id="emailHelp" class="form-text text-muted">Copyright © Grubstay.com All rights
                        reserved</small>-->
                        <div class="mt-10" style="margin-left:-25px;">
                          <ul style="list-style-type: none;">
                            <li>Rajiv Gandhi Nagar,</li>
                            <li>HSR Layout, Sector 6,</li>
                            <li>Bangalore,</li>
                            <li>Karnataka</li>
                            <li>INDIA- 560102</li>
                          </ul>
                            <!--<small>
                                <p style="color: grey;">
                                    +91-8050163861
                                    <br>
                                    info@grubstay.com
                                </p>
                            </small>-->
                        </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 mt-20 text-center">
                    <span class="logo-sm">Company Information</span>
                    <ul class="list-unstyled" style="margin-top:20px;">
                        <li>About us</li>
                        <li>Contact us</li>
                        <li>Careers</li>
                        <li>Blog</li>
                        <li>FAQ's</li>
                        <li>Privacy Policy</li>
                        <li>Sitemaps</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 mt-20 text-center">
                    <span class="logo-sm" >Contact Us</span>
                    <ul class="list-unstyled mt-20">
                      <li>
                        <div class="phoneContainer">
                          <i class="fa fa-phone icon"></i>
                          <span class="number">+80501-63861</span>
                        </div>
                      </li>
                      <li>
                        <div class="emailContainer">
                          <i class="fa fa-envelope icon"></i>
                          <span>info@grubstay.com</span>
                        </div>
                      </li>
                      <li>
                        <div class="mt-10">
                          <!--                        <h5 class="wordspace5">Made with &hearts; in India</h5>-->
                          <h5 class="wordspace6">Stay in Touch</h5>
                        </div>
                      </li>
                      <li>
                        <div class="socialIconContainer">
                          <span><a href="https://www.facebook.com/grubstay/" target="_blank"><img src="../../../assets/imgs/social/facebook.svg" alt="facebooklogo" class="socialIcon"></a></span>&nbsp;
                          <span><a href="https://www.instagram.com/grubstay/" target="_blank"><img src="../../../assets/imgs/social/instagram.svg" alt="instagramLogo" class="socialIcon"></a></span>&nbsp;
                          <span><a href="https://www.linkedin.com/company/grubstay/" target="_blank"><img src="../../../assets/imgs/social/linkedin.svg" alt="linkedInlogo" class="socialIcon"></a></span>&nbsp;
                          <span><a href="https://www.twitter.com/grubstay/" target="_blank"><img src="../../../assets/imgs/social/twitter.svg" alt="twitterLogo" class="socialIcon"></a></span>&nbsp;
                        </div>
                      </li>
                    </ul>
                </div>
        </div>
    </div>
</div>

<div style="background-color: #e2e2e2; padding-bottom: 3px;" *ngIf="isHandset$ | async">
    <mat-divider class="mt-10"></mat-divider>
    <div class="bootstrap-wrapper">
        <div class="container text-center mt-2 mb-2">
            <h5 style="font-family: 'Montserrat', sans-serif; font-weight: 600; font-size: 18px;">GRUBSTAY</h5>
        </div>
        <div class="container-fluid">
            <div class="row">
                <h6>Corporate Office</h6>
                <small>
                    <p>HSR Layout, Sector 6, Near Asha tiffins
                        <br>
                        Bengaluru, Karnataka 560102
                    </p>
                </small>
                <mat-divider></mat-divider>
            </div>
            <div class="row mt-2">
                    <h6>Company Information</h6>
                    <small>
                        <p class="footer-links">
                            <a href="#">About us</a> | <a href="#">Contact us</a> | <a href="#">Careers</a> | <a
                                href="#">Blog</a> | <br>
                            <a href="#">FAQ's</a> | <a href="#">Privacy Policy</a> | <a href="#">Sitemaps</a>
                        </p>
                    </small>
            </div>
            <div class="row">
                <h6>Contact us</h6>
                <small>
                    <p style="color: grey;">
                        +91-8050163861
                        <br>
                        info@grubstay.com
                    </p>
                </small>
                <mat-divider></mat-divider>
            </div>
            <div class="row mt-2">
                <div class="col-4 mt-2">
                    <h6>Stay in touch</h6>
                </div>
                <button mat-icon-button>
                    <a href="https://www.facebook.com/grubstay/" target="_blank"><img src="../../../assets/imgs/social/facebook.svg" alt="facebooklogo"></a>
                </button>
                <button mat-icon-button>
                    <a href="https://www.twitter.com/grubstay/" target="_blank"><img src="../../../assets/imgs/social/twitter.svg" alt="twitterLogo"></a>
                </button>
                <button mat-icon-button>
                    <a href="https://www.linkedin.com/company/grubstay/" target="_blank"><img src="../../../assets/imgs/social/linkedin.svg" alt="linkedInlogo"></a>
                </button>
                <button mat-icon-button>
                    <a href="https://www.instagram.com/grubstay/" target="_blank"><img src="../../../assets/imgs/social/instagram.svg" alt="instaLogo"></a>
                </button>
            </div>
        </div>
    </div>
</div>
