.example-spacer {
    flex: 1 1 auto;
}
.bg-black{
    background:#303030 !important;
    color:white;
}
.sidenav{
    width: 200px;
    height:100%;
    background:#303030 !important;
}
.sidenav-container{
    height:100%;
}
.text-white{
    color:white !important;
}
