<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : ''" >
      <mat-toolbar>
        <span [routerLink]="['']" class="logo">GRUBSTAY</span>
      </mat-toolbar>
      <mat-list role="list">
        <div *ngIf="isLoggedIn && user && user.username!='GUEST'">
          <mat-list-item><a mat-button class="text-black">{{user.username}}</a></mat-list-item>
          <mat-list-item><a mat-flat-button color="accent" (click)="logout()">Logout</a></mat-list-item>
        </div>
        <div *ngIf="isLoggedIn && user && user.username=='GUEST'">
          <mat-list-item><a mat-button class="text-black" (click)="openLoginDialog()">Login</a></mat-list-item>
          <mat-list-item><a mat-flat-button color="accent" (click)="openSignUpDialog()">Sign Up</a></mat-list-item>
        </div>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="toolbar">
        <span [routerLink]="['']" routerLinkActive="router-link-active"  class="logo">GRUBSTAY</span>
          <div class="example-spacer"></div>
          <span style="user-select: none;"><a class="call d-inline-flex align-items-center theme-color" href="tel:+918050163861"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;<small>+91-8050163861</small></a></span>
        <div *ngIf="!(isHandset$ | async)">
          <div *ngIf="isLoggedIn && user && user.username!='GUEST'">
            <a mat-button (click)="redirectTo()">{{user.username}}</a>&nbsp;
            <a mat-flat-button color="accent" (click)="logout()">Logout</a>
          </div>
          <div *ngIf="isLoggedIn && user && user.username=='GUEST'">
            <a mat-button (click)="openLoginDialog()">Login</a>&nbsp;
            <a mat-flat-button color="accent" (click)="openSignUpDialog()">Sign Up</a>
          </div>
        </div>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </mat-toolbar>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
      <!-- <app-footer></app-footer> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
