.mat-column-actions{
    width: 150px;
}
table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-form-field {
    font-size: 12px;
    width: 100%;
}
.example-header-image-location {
  background-size: cover;
  height: 30px;
  width: 30px;
  border-radius:15px;
  margin-top:5px;
}