<div class="bootstrap-wrapper search-stay">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form class="search-form" (ngSubmit)="searchSubmit()">
                    <mat-form-field class="full-width" appearance="outline" color="accent">
                        <mat-label>Location</mat-label>
                        <input required matInput autocomplete="off" placeholder="Search City | Locality" id="search-name"
                            name="search-name" [(ngModel)]="search.name" (ngModelChange)="searchNameChange(search.name)">
                    </mat-form-field>
                    <mat-card style="max-height: 300px; overflow-y: scroll; scroll-behavior: smooth;" *ngIf="search.name && !itemSelected"
                        id="search-content">
                        <mat-action-list class="result-content" *ngFor="let result of searchResult">
                            <button mat-list-item (click)="selectItem(result)">
                                <img [src]="sanitizer.bypassSecurityTrustUrl(result.citypic)" alt="result.city">
                                <button></button>
                                <p (onclick)="selectItem(result)"><strong>{{result.cityName}}</strong>&nbsp;&nbsp;|&nbsp;
                                    {{result.locationName}}</p>
                            </button>
                        </mat-action-list>
                    </mat-card>
                    <mat-form-field *ngIf="itemSelected" class="full-width" appearance="outline" color="accent"
                        autocomplete="off">
                        <mat-label>Select Stay Type</mat-label>
                        <mat-select autocomplete="off" name="stay-types" [(ngModel)]="search.stayType">
                            <mat-option *ngFor="let stay of stayTypes" value="stay">{{stay}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="itemSelected" class="full-width" appearance="outline" color="accent"
                        autocomplete="off">
                        <mat-label>Select Gender</mat-label>
                        <mat-select autocomplete="off" name="gender" [(ngModel)]="search.gender">
                            <mat-option value="Boys">Boys</mat-option>
                            <mat-option value="Girls">Girls</mat-option>
                            <mat-option value="Both">Both</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="itemSelected" class="full-width" appearance="outline" color="accent"
                        autocomplete="off">
                        <mat-label>Select Stay Plan</mat-label>
                        <mat-select autocomplete="off" name="gender" [(ngModel)]="search.stayPlan">
                            <mat-option value="Monthly">Monthly</mat-option>
                            <mat-option value="Weekly">Weekly</mat-option>
                            <mat-option value="Daily">Daily</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline" color="accent" *ngIf="itemSelected">
                        <mat-label>Select Near By</mat-label>
                        <input matInput autocomplete="off" placeholder="Search PG | Landmark" id="search-name" name="search-nearby"
                            [(ngModel)]="search.nearby" (ngModelChange)="searchNearBy(search.nearby)">
                    </mat-form-field>
                    <mat-card style="max-height: 300px; overflow-y: scroll; scroll-behavior: smooth; z-index:10; position: absolute; width:94%; "
                        *ngIf="search.nearby && !nearbySelected" id="search-content">
                        <mat-action-list class="result-content" *ngFor="let landmark of landMarkData">
                            <button mat-list-item (click)="selectLandMark(landmark)">
                                <img [src]="sanitizer.bypassSecurityTrustUrl(landmark.landMarkImage)" alt="landmark.langMarkImageName">
                                <button></button>
                                <p (onclick)="selectLandMark(landmark)"><strong>{{landmark.landMarkName}}</strong>&nbsp;&nbsp;|&nbsp;
                                    {{landmark.pgName}}</p>
                            </button>
                        </mat-action-list>
                    </mat-card>
                    <div *ngIf="itemSelected" class="container text-center">
                        <button mat-raised-button color="accent" type="submit">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>