.pg-slider{
    background-color: red;
    width: 100%;
    height: 250px;
}
.favorite{
    color: red;
}
.pg-fac{
    background-color: grey;
    width: 70px;
    height: 70px;
}
.pg-fac-name{
    line-height: 1.0;
    font-size: 10px;
    padding: 4px;
    text-align: center;
    font-weight: bold;
}