<div *ngIf="isHandset$ | async">
    <div class="bootsrap-wrapper">
        <section class="pg-header">
                    <div class="pg-slider">
                        <owl-carousel-o [width]="100" [options]="pgCarousel">
                            <ng-container *ngFor="let slide of pgGallery; let i=index">
                                <ng-template carouselSlide [id]="i">
                                  <img [src]="sanitizer.bypassSecurityTrustUrl(slide)" alt="pgImage">
                                </ng-template>
                              </ng-container>
                        </owl-carousel-o>
                    </div>
            <div class="container-fluid">
                <div class="row" style="padding: 8px;">
                    <div class="pg-content">
                        <div class="row">
                            <div class="col-8">
                                <div class="row"><h6>{{pgDetails.pgName}}</h6></div>
                                <div class="row"><small>{{pgDetails.pgAddress}}</small></div>
                            </div>
                            <div class="col-4">
                                <div *ngIf="pgDetails.pgGender == 'both'">
                                    <div class="container text-center"><i style="color: #03989E; font-size: 24px;" class="fa fa-male"></i>&nbsp;&nbsp;<i style="color: #EB4A95; font-size: 24px;" class="fa fa-female"></i></div>
                                    <div class="container text-center mt-1"><h6 style="font-size: 12px;">PG FOR ALL</h6></div>
                                </div>
                                <div *ngIf="pgDetails.pgGender == 'male'">
                                    <div class="container text-center"><i style="color: #03989E; font-size: 24px;" class="fa fa-male"></i></div>
                                    <div class="container text-center mt-1"><h6 style="font-size: 12px;">ONLY FOR MEN</h6></div>
                                </div>
                                <div *ngIf="pgDetails.pgGender == 'female'">
                                    <div class="container text-center"><i style="color: #EB4A95; font-size: 24px;" class="fa fa-female"></i></div>
                                    <div class="container text-center mt-1"><h6 style="font-size: 12px;">ONLY FOR GIRLS</h6></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 d-flex align-items-start">
                                <a href="{{'https://wa.me/+918050163861/?text=Hi, I am looking for PG : '+'grubstay.com/pg/'+pgDetails.pgId+'/'+pgDetails.pgName}}" target="_blank" class="btn mr-10" style="background-color: #25D366; color: white;"><i class="fa fa-whatsapp"></i>&nbsp;&nbsp;WhatsApp</a>
                                <a href="tel:+918050163861" class="btn" style="background-color: #2D9CD7; color: white;"><i class="fa fa-phone"></i>&nbsp;&nbsp;Call us</a>
                            </div>
                            <!-- <div class="col-7 d-flex align-items-center" *ngIf="false">
                                <span><button mat-icon-button (click)="toggleFav()"><mat-icon *ngIf="!fav">favorite_border</mat-icon><mat-icon class="favorite" *ngIf="fav">favorite</mat-icon></button>&nbsp;</span>Save &nbsp;&nbsp;
                                <span><button mat-icon-button (click)="sharePg()"><mat-icon>share</mat-icon></button>&nbsp;</span>Share
                            </div> -->
                            <!-- <div class="col-4 d-flex align-items-center">
                                <span><button mat-icon-button (click)="toggleFav()"><mat-icon *ngIf="!fav">favorite_border</mat-icon><mat-icon class="favorite" *ngIf="fav">favorite</mat-icon></button>&nbsp;</span>Save
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <mat-divider></mat-divider>
                </div>
            </div>
        </section>
        <section class="pg-amenities" style="padding: 8px;">
            <div class="container-fluid">
                <div class="row mb-2">
                    <h5>Amenities & Services</h5>
                </div>
                <div class="row">
                    <div *ngFor="let item of pgAmen" class="col-3 mb-2">
                        <div class="row">
                            <mat-card class="pg-fac mx-auto">
                                <img mat-card-image src="{{item.src}}" alt="{{item.name}}">
                            </mat-card>
                        </div>
                        <div class="row">
                            <small class="pg-fac-name mt-1">{{item.name}}</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <mat-divider></mat-divider>
                </div>
            </div>
        </section>
        <section class="pg-amenities" style="padding: 8px;">
            <div class="container-fluid">
                <div class="row mb-2">
                    <h5>Room Facilities</h5>
                </div>
                <div class="row">
                    <div *ngFor="let item of pgRoomFac" class="col-3 mb-2">
                        <div class="row">
                            <mat-card class="pg-fac mx-auto">
                                <img mat-card-image src="{{item.src}}" alt="{{item.name}}">
                            </mat-card>
                        </div>
                        <div class="row">
                            <small class="pg-fac-name mt-1">{{item.name}}</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <mat-divider></mat-divider>
                </div>
            </div>
        </section>
        <section class="pg-pricing" style="padding: 8px;">
            <div class="container-fluid">
                <div class="row mb-2">
                    <h5>Pricing</h5>
                </div>
                <div class="row">
                    <div *ngIf="pgDetails.pgTriplePriceAvail" class="col-3 mb-2">
                        <mat-card class="pg-price-card mx-auto">
                            <div class="row">
                                <small class="pg-fac-name mx-auto" style="color: orangered;">Triple Occupency</small>
                            </div>
                            <div class="row mt-1">
                                <small class="pg-fac-name mx-auto">&#8377;{{pgDetails.pgTripleMemberPrice}}</small>
                            </div>
                        </mat-card>
                    </div>
                    <div *ngIf="pgDetails.pgDoublePriceAvail" class="col-3 mb-2">
                            <mat-card class="pg-price-card mx-auto">
                                <div class="row">
                                    <small class="pg-fac-name mx-auto" style="color: orangered;">Double Occupency</small>
                                </div>
                                <div class="row mt-1">
                                    <small class="pg-fac-name mx-auto">&#8377;{{pgDetails.pgDoubleMemberPrice}}</small>
                                </div>
                            </mat-card>
                        </div>
                        <div *ngIf="pgDetails.pgSinglePriceAvail" class="col-3 mb-2">
                                <mat-card class="pg-price-card mx-auto">
                                    <div class="row">
                                        <small class="pg-fac-name mx-auto" style="color: orangered;">Single Occupency</small>
                                    </div>
                                    <div class="row mt-1">
                                        <small class="pg-fac-name mx-auto">&#8377;{{pgDetails.pgSingleMemberPrice}}</small>
                                    </div>
                                </mat-card>
                            </div>
                </div>
                <div class="row">
                    <mat-divider></mat-divider>
                </div>
            </div>
        </section>
        <section class="pg-nearby" style="padding: 8px;" *ngIf="nearbyLandmarks.length > 0">
            <div class="container-fluid">
                <div class="row mb-2">
                    <h5>Nearby Popular Landmarks</h5>
                </div>
                <div class="row">
                    <owl-carousel-o [options]="carouselOptions">
                        <ng-container *ngFor="let slide of nearbyLandmarks">
                          <ng-template [width]="100" carouselSlide [id]="slide.id">
                            <mat-card class="nearby-card">
                                <div class="nearby-img-sec-m">
                                    <img [src]="sanitizer.bypassSecurityTrustUrl(slide.src)" [alt]="slide.alt" [title]="slide.title">
                                </div>
                                <h6 class="text-center travel-nearby-name-m">{{slide.title}}</h6>
                            </mat-card>
                          </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
                <div class="row mt-2">
                    <mat-divider></mat-divider>
                </div>
            </div>
        </section>
        <section class="pg-nearby" style="padding: 8px;">
            <div class="container-fluid">
                <div class="row mb-2">
                    <h5>About the property</h5>
                </div>
                <div class="row">
                   <small>{{pgDetails.pgAbout}}</small>
                </div>
            </div>
        </section>
    </div>
</div>


<div *ngIf="!(isHandset$ | async)">
    <div class="bootsrap-wrapper">
        <div class="container">
            <section class="pg-header">
                <div class="pg-slider-d">
                    <owl-carousel-o [options]="pgCarousel">
                        <ng-container *ngFor="let slide of pgGallery; let i=index">
                          <ng-template carouselSlide [id]="i">
                            <img [src]="sanitizer.bypassSecurityTrustUrl(slide)" alt="pgImage">
                          </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
        <div class="container-fluid">
            <div class="row" style="padding: 8px;">
                <div class="pg-content">
                    <div class="row">
                        <div class="col-10">
                            <div class="row"><h4>{{pgDetails.pgName}}</h4></div>
                            <div class="row"><small>{{pgDetails.pgAddress}}</small></div>
                        </div>
                        <div class="col-2">
                            <div *ngIf="pgDetails.pgGender == 'both'">
                                <div class="container text-center"><i style="color: #03989E; font-size: 48px;" class="fa fa-male"></i>&nbsp;&nbsp;<i style="color: #EB4A95; font-size: 48px;" class="fa fa-female"></i></div>
                                <div class="container text-center mt-1"><h6 style="font-size: 12px;">PG FOR ALL</h6></div>
                            </div>
                            <div *ngIf="pgDetails.pgGender == 'male'">
                                <div class="container text-center"><i style="color: #03989E; font-size: 48px;" class="fa fa-male"></i></div>
                                <div class="container text-center mt-1"><h6 style="font-size: 12px;">ONLY FOR MEN</h6></div>
                            </div>
                            <div *ngIf="pgDetails.pgGender == 'female'">
                                <div class="container text-center"><i style="color: #EB4A95; font-size: 48px;" class="fa fa-female"></i></div>
                                <div class="container text-center mt-1"><h6 style="font-size: 12px;">ONLY FOR GIRLS</h6></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-9 d-flex align-items-center">
                            <a href="{{'https://wa.me/+918050163861/?text=Hi, I am looking for PG : '+'grubstay.com/pg/'+pgDetails.pgId+'/'+pgDetails.pgName}}" target="_blank" class="btn mr-10" style="background-color: #25D366; color: white;"><i class="fa fa-whatsapp"></i>&nbsp;&nbsp;WhatsApp</a>
                            <a href="tel:+918050163861" class="btn" style="background-color: #2D9CD7; color: white;"><i class="fa fa-phone"></i>&nbsp;&nbsp;Call us</a>
                        </div>
                        <!-- <div class="col-3 d-flex align-items-center" *ngIf="false">
                            <span><button mat-icon-button (click)="toggleFav()"><mat-icon *ngIf="!fav">favorite_border</mat-icon><mat-icon class="favorite" *ngIf="fav">favorite</mat-icon></button>&nbsp;</span>Save &nbsp;&nbsp;
                            <span><button mat-icon-button (click)="sharePg()"><mat-icon>share</mat-icon></button>&nbsp;</span>Share
                        </div> -->
                        <!-- <div class="col-4 d-flex align-items-center">
                            <span><button mat-icon-button (click)="toggleFav()"><mat-icon *ngIf="!fav">favorite_border</mat-icon><mat-icon class="favorite" *ngIf="fav">favorite</mat-icon></button>&nbsp;</span>Save
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <mat-divider></mat-divider>
            </div>
        </div>
    </section>
    <section class="pg-amenities" style="padding: 8px;">
        <div class="container-fluid">
            <div class="row mb-2">
                <h5>Amenities & Services</h5>
            </div>
            <div class="row">
                <div *ngFor="let item of pgAmen" class="col-3 mb-2">
                            <div class="row">
                                <mat-card class="pg-fac mx-auto">
                                    <img mat-card-image src="{{item.src}}" alt="{{item.name}}">
                                </mat-card>
                            </div>
                            <div class="row">
                                <small class="pg-fac-name mt-1">{{item.name}}</small>
                            </div>
                </div>
            </div>
            <div class="row">
                <mat-divider></mat-divider>
            </div>
        </div>
    </section>
    <section class="pg-amenities" style="padding: 8px;">
        <div class="container-fluid">
            <div class="row mb-2">
                <h5>Room Facilities</h5>
            </div>
            <div class="row">
                <div *ngFor="let item of pgRoomFac" class="col-3 mb-2">
                    <div class="row">
                        <mat-card class="pg-fac mx-auto">
                            <img mat-card-image src="{{item.src}}" alt="{{item.name}}">
                        </mat-card>
                    </div>
                    <div class="row">
                        <small class="pg-fac-name mt-1">{{item.name}}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <mat-divider></mat-divider>
            </div>
        </div>
    </section>
    <section class="pg-pricing" style="padding: 8px;">
        <div class="container-fluid">
            <div class="row mb-2">
                <h5>Pricing</h5>
            </div>
            <div class="row">
                <div *ngIf="pgDetails.pgTriplePriceAvail" class="col-3 mb-2">
                    <mat-card class="pg-price-card mx-auto">
                        <div class="row">
                            <small class="pg-fac-name mx-auto" style="color: orangered;">Triple Occupency</small>
                        </div>
                        <div class="row mt-1">
                            <small class="pg-fac-name mx-auto">&#8377;{{pgDetails.pgTripleMemberPrice}}</small>
                        </div>
                    </mat-card>
                </div>
                <div *ngIf="pgDetails.pgDoublePriceAvail" class="col-3 mb-2">
                        <mat-card class="pg-price-card mx-auto">
                            <div class="row">
                                <small class="pg-fac-name mx-auto" style="color: orangered;">Double Occupency</small>
                            </div>
                            <div class="row mt-1">
                                <small class="pg-fac-name mx-auto">&#8377;{{pgDetails.pgDoubleMemberPrice}}</small>
                            </div>
                        </mat-card>
                    </div>
                    <div *ngIf="pgDetails.pgSinglePriceAvail" class="col-3 mb-2">
                            <mat-card class="pg-price-card mx-auto">
                                <div class="row">
                                    <small class="pg-fac-name mx-auto" style="color: orangered;">Single Occupency</small>
                                </div>
                                <div class="row mt-1">
                                    <small class="pg-fac-name mx-auto">&#8377;{{pgDetails.pgSingleMemberPrice}}</small>
                                </div>
                            </mat-card>
                        </div>
            </div>
            <div class="row">
                <mat-divider></mat-divider>
            </div>
        </div>
    </section>
    <section class="pg-nearby" style="padding: 8px;" *ngIf="nearbyLandmarks.length > 0">
        <div class="container-fluid">
            <div class="row mb-2">
                <h5>Nearby Popular Landmarks</h5>
            </div>
            <div class="row">
                <owl-carousel-o [options]="carouselOptions">
                    <ng-container *ngFor="let slide of nearbyLandmarks">
                      <ng-template [width]="100" carouselSlide [id]="slide.id">
                        <mat-card class="nearby-card">
                            <div class="nearby-img-sec">
                                <img [src]="sanitizer.bypassSecurityTrustUrl(slide.src)" [alt]="slide.alt" [title]="slide.title">
                            </div>
                            <h6 class="text-center travel-nearby-name">{{slide.title}}</h6>
                        </mat-card>
                      </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
            <div class="row mt-2">
                <mat-divider></mat-divider>
            </div>
        </div>
    </section>
    <section class="pg-nearby" style="padding: 8px;">
        <div class="container-fluid">
            <div class="row mb-2">
                <h5>About the property</h5>
            </div>
            <div class="row">
               <small>{{pgDetails.pgAbout}}</small>
            </div>
        </div>
    </section>.
        </div>
    </div>
</div>
<app-footer></app-footer>