<div class="bg-light">
  <div class="container py-5">
    <div class="row align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Terms and Conditions</h1>
        <p class="lead text-muted mb-0">Read through our terms & conditions</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="container py-5">
    <h4 class="font-weight-light">Terms and Conditions</h4>
    <p class="lead">
      Please read these Terms and Conditions fully and carefully before using
      Grubstay.com (the “Site”) - More than a PG (the “App”) and the services,
      features, content or applications offered by Grubstay ( “we”, “us” or
      “our”) (together with the Site, the App, the “Services”). These Terms and
      Conditions set forth the legally binding terms and conditions for your use
      of the Site, the App and the Services.
    </p>
    <p class="lead">
      Grubstay Property Solutions Private Limited is paying guest or hostels
      aggregator. All the available pg’s are listed on www.Grubstay.com for
      accommodation ("Services"), an application for mobile devices (the
      "Application"). By using the Site and Application, you agree to comply
      with and be legally bound by the terms and conditions of these Terms of
      Service ("Terms"), whether or not you become a registered user of the
      Services. Services Comprise online listing through website where PG owners
      can place a request to list a PG and guest can book visit appointment or
      direct online booking. YOU UNDERSTAND AND AGREE THAT GRUBSTAY IS NOT A
      PARTY TO ANY AGREEMENTS ENTERED INTO BETWEEN HOSTS AND GUESTS, NOR IS
      GRUBSTAY A REAL ESTATE BROKER, AGENT OR INSURER. GRUBSTAY HAS NO CONTROL
      OVER THE CONDUCT OF HOSTS, GUESTS AND OTHER USERS OF THE SITE, APPLICATION
      AND SERVICES OR ANY ACCOMMODATIONS, AND DISCLAIMS ALL LIABILITY IN THIS
      REGARD.
    </p>
  </div>
  <div class="container py-5">
    <h4 class="font-weight-light">Key Terms</h4>
    <p class="lead">
      By registering for and/or using the Services in any manner, including but
      not limited to visiting or browsing the Site or App, you agree to these
      Terms and Conditions and all other operating rules, policies and
      procedures that may be published from time to time on the Site by us, each
      of which is incorporated by reference and each of which may be updated
      from time to time without notice to you. Certain of the Services may be
      subject to additional terms and conditions specified by us from time to
      time; your use of such Services is subject to those additional terms and
      conditions, which are incorporated into these Terms and Conditions by this
      reference. These Terms and Conditions apply to all users of the Services,
      including, without limitation, users who are contributors of content,
      information, and other materials or services, registered or otherwise.
    </p>
  </div>
  <div class="container py-5">
    <h4 class="font-weight-light">Modification</h4>
    <p class="lead">
      We reserve the right, in our sole discretion, to modify or replace any of
      these Terms and Conditions, or change, suspend, or discontinue the
      Services (including without limitation, the availability of any feature,
      database, or content) at any time by posting a notice on the Site or by
      sending you notice through the Services, via e-mail or by another
      appropriate means of electronic communication. We may also impose limits
      on certain features and services or restrict your access to parts or all
      of the Services without notice or liability. While we will timely provide
      notice of modifications, it is also your responsibility to check these
      Terms and Conditions periodically for changes. Your continued use of the
      Services following notification of any changes to these Terms and
      Conditions constitutes acceptance of those changes.
    </p>
  </div>
  <div class="container py-5">
    <h4 class="font-weight-light">Eligibility</h4>
    <p class="lead">
      You represent and warrant that you are at least 18 years of age. If you
      are under age 18, you may not, under any circumstances or for any reason,
      use the Services. We may, in our sole discretion, refuse to offer the
      Services to any person or entity and change its eligibility criteria at
      any time. You are solely responsible for ensuring that these Terms and
      Conditions are in compliance with all laws, rules and regulations
      applicable to you and the right to access the Services is revoked where
      these Terms and Conditions or use of the Services is prohibited or to the
      extent offering, sale or provision of the Services conflicts with any
      applicable law, rule or regulation. Further, the Services are offered only
      for your use, and not for the use or benefit of any third party.
    </p>
  </div>
  <div class="container py-5">
    <h4 class="font-weight-light">
      How the Website, Application and Service Work?
    </h4>
    <p class="lead">
      The Site, Application and Services can be used to facilitate the listing
      and booking of paying Guest ("Accommodations"). Such Accommodations are
      included in Listings on the Site, Application and Services by Hosts. If
      you wish to book an Accommodation or create a Listing, you must first
      register to create a Grubstay Account (defined below). As stated above,
      Grubstay makes available a platform or marketplace with related technology
      for Guests and Hosts to meet online and arrange for bookings of
      Accommodations. Grubstay is not a contracting agent or representative of
      any Host. Instead, PrimePg's role is solely to facilitate the availability
      of the Site, Application and Services for Members and to provide services
      related thereto. PLEASE NOTE THAT, AS STATED ABOVE, THE SITE, APPLICATION
      AND SERVICES ARE INTENTED TO BE USED TO FACILIATE THE BOOKING OF
      ACCOMODATIONS. Grubstay CANNOT AND DOES NOT CONTROL THE CONTENT CONTAINED
      IN ANY LISTINGS AND THE CONDITION, LEGALITY OR SUITABILITY OF ANY
      ACCOMMODATIONS. Grubstay IS NOT RESPONSIBLE FOR AND DISCLAIMS ANY AND ALL
      LIABILITY RELATED TO ANY AND ALL LISTINGS AND ACCOMMODATIONS. ACCORDINGLY,
      ANY BOOKINGS WILL BE MADE AT THE GUEST’S OWN RISK.
    </p>
  </div>
  <div class="container py-5">
    <h4 class="font-weight-light">Account Registration</h4>
    <p class="lead">
      To sign up for the Services, you may be required to register for an
      account on the Services (an “Account”). You must provide accurate and
      complete information and keep your Account information updated. You shall
      not: (i) select or use as a username a name of another person with the
      intent to impersonate that person; (ii) use as a username a name subject
      to any rights of a person other than you without appropriate
      authorization; or (iii) use, as a username, a name that is otherwise
      offensive, vulgar or obscene. Your Account information may include
      information that is personal to you, such as your name, email address and
      phone number (collectively, “personal details”). You may only provide your
      own personal details. You may not provide personal details of any third
      person.
    </p>
  </div>
  <div class="container py-5">
    <h4 class="font-weight-light">Accommodation Listing</h4>
    <p class="lead">
      As a Member, you may create Listings. To this end, you will be asked a
      variety of questions about the Accommodation to be listed, including, but
      not limited to, the location, capacity, size, features, availability of
      the Accommodation and pricing and related rules and financial terms. In
      order to be featured in Listings via the Site, Application and Services,
      all Accommodations must have valid physical addresses. Listings will be
      made publicly available via the Site, Application and Services. Other
      Members will be able to book your Accommodation via the Site, Application
      and Services based upon the information provided in your Listing. Please
      note that Grubstay assumes no responsibility for a Host’s compliance with
      any applicable laws, rules and regulations. You understand and agree that
      Grubstay does not act as an insurer or as a contracting agent for, or
      representative of, you as a Host, and if a Guest requests a booking of
      your Accommodation and stays at your Accommodation, any agreement you
      enter into with such Guest is between you and the Guest and Grubstay is
      not a party thereto. Please note that Grubstay reserves the right, at any
      time and without prior notice, to remove or disable access to any Listing
      for any reason, including Listings that Grubstay, in its sole discretion,
      considers to be objectionable for any reason, in violation of these Terms
      or otherwise harmful to the Site, Application or Services. When you create
      a Listing, you may also choose to include certain requirements which must
      be met by the Members who are eligible to request a booking of your
      Accommodation, including, but not limited to, requiring Members to have a
      profile picture or verified phone number, in order to book your
      Accommodation. Any Member wishing to book Accommodations included in
      Listings with such requirements must meet these requirements.
    </p>
  </div>
  <div class="container py-5">
    <h4 class="font-weight-light">No Endorsement</h4>
    <p class="lead">
      Grubstay does not endorse any Members or any Accommodations. In addition,
      although these Terms require Members to provide accurate information, we
      do not attempt to confirm, and do not confirm, any Member’s purported
      identity. You are responsible for determining the identity and suitability
      of others who you contact via the Site, Application and Services. An
      agreement between Grubstay and Hosts, we will not be responsible for any
      damage or harm resulting from your interactions with other Members. Please
      note that Grubstay does not currently charge fees for the creation of
      Listings.
    </p>
  </div>
  <div class="container py-5">
    <h4 class="font-weight-light">Damage to Accommodations</h4>
    <p class="lead">
      As a Guest, you are responsible for leaving the Accommodation in the
      condition it was in when you arrived. You acknowledge and agree that, as a
      Guest, you are responsible for your own acts and omissions and are also
      responsible for the acts and omissions of any individuals who you invite
      to, or otherwise provide access to, the Accommodation. In the event that a
      Host claims otherwise and provides evidence of damage, including but not
      limited to, photographs, you agree to pay the cost of replacing the
      damaged items with equivalent items.
    </p>
  </div>
  <div class="container py-5">
    <h4 class="font-weight-light">Links</h4>
    <p class="lead">
      The Site, Application and Services may contain links to third-party
      websites or resources.
    </p>
  </div>
  <div class="container py-5">
    <h4 class="font-weight-light">Proprietary Rights Notices</h4>
    <p class="lead">
      We welcome and encourage you to provide feedback, comments and suggestions
      for improvements to the Site, Application and Services ("Feedback"). You
      may submit Feedback by emailing us at grubstay@gmail.com.
    </p>
  </div>
  <div class="container py-5">
    <h4 class="font-weight-light">Termination and Grubstay Account</h4>
    <p class="lead">
      We may, in our discretion and without liability to you, with or without
      cause, with or without prior notice and at any time: (a) terminate these
      Terms or your access to our Site, Application and Services, and (b)
      deactivate or cancel your Grubstay Account. Upon termination we will
      promptly pay you any amounts we reasonably determine we owe you in our
      discretion, which we are legally obligated to pay you. In the event
      GRUBSTAY terminates these Terms, or your access to our Site, Application
      and Services or deactivates or cancels your Grubstay Account you will
      remain liable for all amounts due hereunder. You may cancel your Grubstay
      Account at any time via the "Cancel Account" feature of the Services or by
      sending an email to contact@Grubstay.com . Please note that if your
      GRUBSTAY Account is cancelled, we do not have an obligation to delete or
      return to you any Content you have posted to the Site, Application and
      Services, including, but not limited to, any reviews or Feedback.
    </p>
  </div>
  <div class="container py-5">
    <h4 class="font-weight-light">Disclaimers; Limitation of Liability</h4>
    <p class="lead">
      You are solely responsible for your interactions and arrangements with
      other individuals, including users and Members. We make no representations
      or warranties as to (i) the conduct of users or Members, (ii) users’ or
      Members’ compatibility with current or future Members, including fellow
      Grubstay community residents or neighbors, or (iii) any information
      concerning any activities or arrangements suggested by users or Members.
      In no event shall we, nor our directors, employees, agents, partners,
      suppliers or content providers, be liable under contract, tort, strict
      liability, negligence or any other legal or equitable theory with respect
      to the services (i) for any damages arising out of or relating to your or
      anyone else’s conduct in connection with the services, including, without
      limitation bodily injury, emotional distress and any damages resulting in
      any way from communications, meetings, activities or arrangements with
      users, members or persons you may otherwise meet through the services,
      (ii) for any lost profits, data loss, cost of procurement of substitute
      goods or services, or special, indirect, incidental, punitive,
      compensatory or consequential damages of any kind whatsoever (however
      arising), (iii) for any bugs, viruses, Trojan horses, or the like
      (regardless of the source of origination), or (iv) for any direct damages
      in excess of (in the aggregate) the greater of (A) fees paid to us for the
      particular Services during the immediately previous one (1) month. You
      agree to take reasonable precautions and exercise the utmost personal care
      in all interactions with other users or Members or any other individual
      you come into contact with through the Services, particularly if you
      decide to meet such users, Members or individuals in person. You
      understand and agree that we make no guarantees, express or implied,
      regarding your compatibility with users, Members or other individuals you
      meet through the Services, including any fellow Grubstay community
      residents or neighbors. For example, you should not, under any
      circumstances, provide your financial information (e.g., credit card or
      bank account numbers) to other individuals. We strongly advise you to use
      the utmost caution before sharing any personally identifiable information
      with others, including users and Members. We do not and cannot assure you
      that it is safe for you to have direct contact with any other individual
      that you come into contact with through the Services. If you believe that
      any individual is harassing you or is otherwise using personal information
      about you for unlawful purposes, we encourage you to first inform local
      law enforcement authorities, and then to contact us at grubstay@gmail.com
      so that we may take appropriate action.
    </p>
  </div>
  <div class="container py-5">
    <h4 class="font-weight-light">Indemnification</h4>
    <p class="lead">
      You shall defend, indemnify, and hold harmless us, our affiliates and each
      of our and their respective employees, contractors, directors, suppliers
      and representatives from all liabilities, claims, and expenses, including
      reasonable attorneys’ fees, that arise from or relate to your use or
      misuse of, or access to, the Services, Content, violation of these Terms
      and Conditions, or infringement by you, or any third party using your
      Account or identity in the Services, of any intellectual property or other
      right of any person or entity. We reserve the right to assume the
      exclusive defense and control of any matter otherwise subject to
      indemnification by you, in which event you will assist and cooperate with
      us in asserting any available defenses.
    </p>
  </div>
  <div class="container py-5">
    <h4 class="font-weight-light">Reporting Misconduct</h4>
    <p class="lead">
      If you stay with or host anyone who you feel is acting or has acted
      inappropriately, including but not limited to, anyone who (i) engages in
      offensive, violent or sexually inappropriate behavior, (ii) you suspect of
      stealing from you, or (iii) engages in any other disturbing conduct, you
      should immediately report such person to the appropriate authorities and
      then to Grubstay by contacting us with your police station and report
      number at grubstay@gmail.com ; provided that your report will not obligate
      us to take any action beyond that required by law (if any) or cause us to
      incur any liability to you.
    </p>
  </div>
  <div class="container py-5">
    <h4 class="font-weight-light">Entire Agreement</h4>
    <p class="lead">
      These Terms constitute the entire and exclusive understanding and
      agreement between Grubstay and you regarding the Site, Application,
      Services, Collective Content, Referral Program, and any bookings or
      Listings of Accommodations made via the Site, Application and Services,
      and these Terms supersede and replace any and all prior oral or written
      understandings or agreements between Grubstay and you regarding bookings
      or listings of Accommodations, the Site, Application, Services, Collective
      Content and Referral Program.
    </p>
  </div>
  <div class="container py-5">
    <h4 class="font-weight-light">Assignment</h4>
    <p class="lead">
      These Terms constitute the entire and exclusive understanding and
      agreement between Grubstay and you regarding the Site, Application,
      Services, Collective Content, Referral Program, and any bookings or
      Listings of Accommodations made via the Site, Application and Services,
      and these Terms supersede and replace any and all prior oral or written
      understandings or agreements between Grubstay and you regarding bookings
      or listings of Accommodations, the Site, Application, Services, Collective
      Content and Referral Program.
    </p>
  </div>
  <div class="container py-5">
    <h4 class="font-weight-light">Notices</h4>
    <p class="lead">
      Any notices or other communications permitted or required hereunder,
      including those regarding modifications to these Terms, will be in writing
      and given by Grubstay (i) via email (in each case to the address that you
      provide) or (ii) by posting to the Site or via the Application. For
      notices made by e-mail, the date of receipt will be deemed the date on
      which such notice is transmitted. Controlling Law and Jurisdiction These
      Terms will be interpreted in accordance with the laws of the Jurisdiction
      of Bangalore District Karnataka where the registered office of Grubstay is
      present, without regard to its conflict-of-law provisions. You and we
      agree to submit to the personal jurisdiction of a court located in
      Bangalore, India for any actions for which the parties retain the right to
      seek injunctive or other equitable relief in a court of competent
      jurisdiction to prevent the actual or threatened infringement,
      misappropriation or violation of a party’s copyrights, trademarks, trade
      secrets, patents, or other intellectual property rights, as set forth in
      the Dispute Resolution provision below. Dispute Resolution You and
      Grubstay agree that any dispute, claim or controversy arising out of or
      relating to these Terms or the breach, termination, enforcement,
      interpretation or validity thereof, or to the use of the Services or use
      of the Site or Application (collectively, "Disputes") will be settled by
      binding arbitration , except that each party retains the right to seek
      injunctive or other equitable relief in a court of competent jurisdiction
      to prevent the actual or threatened infringement, misappropriation or
      violation of a party’s copyrights, trademarks, trade secrets, patents, or
      other intellectual property rights. You acknowledge and agree that you and
      Grubstay are each waiving the right to a trial by jury or to participate
      as a plaintiff or class member in any purported class action or
      representative proceeding. Further, unless both you and Grubstay otherwise
      agree in writing, the arbitrator may not consolidate more than one
      person's claims, and may not otherwise preside over any form of any class
      or representative proceeding. If this specific paragraph is held
      unenforceable, then the entirety of this "Dispute Resolution" section will
      be deemed void. Except as provided in the preceding sentence, this
      "Dispute Resolution" section will survive any termination of these Terms.
      Arbitration Rules and Governing Law. The arbitration will be administered
      by the Judicial Courts in accordance with the Indian Laws. Changes.
      Notwithstanding the provisions of the "Modification" section above, if
      Grubstay changes this "Dispute Resolution" section after the date you
      first accepted these Terms (or accepted any subsequent changes to these
      Terms), you may reject any such change by sending us written notice
      (including by email to contact@Grubstay.com within 30 days of the date
      such change became effective, as indicated in the "Last Updated Date"
      above or in the date of Grubstay’s email to you notifying you of such
      change. By rejecting any change, you are agreeing that you will arbitrate
      any Dispute between you and Grubstay in accordance with the provisions of
      this "Dispute Resolution" section as of the date you first accepted these
      Terms (or accepted any subsequent changes to these Terms). General The
      failure of Grubstay to enforce any right or provision of these Terms will
      not constitute a waiver of future enforcement of that right or provision.
      The waiver of any such right or provision will be effective only if in
      writing and signed by a duly authorized representative of Grubstay. Except
      as expressly set forth in these Terms, the exercise by either party of any
      of its remedies under these Terms will be without prejudice to its other
      remedies under these Terms or otherwise. If for any reason an arbitrator
      or a court of competent jurisdiction finds any provision of these Terms
      invalid or unenforceable, that provision will be enforced to the maximum
      extent permissible and the other provisions of these Terms will remain in
      full force and effect.
    </p>
  </div>
  <div class="container py-5">
    <h4 class="font-weight-light">Payment, Cancellation and Refunds</h4>
    
      <ul>
        <li>The Customer agrees to pay the Company according to the charges agreed.</li>
        <li>The Customer agrees to pay for service in one-month advance.</li>
        <li>The payment can be made through a bank transfer or online payment or from the Website or through Cheque / Demand Draft in the favor of Company (Grubstay Property Solutions Private Limited).</li>
        <li>The Customer gives the Company complete authority to raise a monthly invoice on Customer Name and send an intimation of the same to the Customer through mail / mobile SMS / any other acceptable mode of communication.</li>
        <li>In case of any refund to customer, it will take 3-5 days for Grubstay to refund the amount based on the payment method chosen by customer at the time of payment.</li>
        <li>In case of GST input tax credit, its Customer responsibility to provide the GST number to Grubstay before we raise the invoice.</li>
        <li>The Customer agrees with the Company that the Company under no circumstances is bound by the rates after the expiry of 12 months from date of joining.</li>
        <li>If the Customer fails to make any payment within FIVE (5) days of billing, late charges will apply at the rate of 2% or Rs.500 (which ever is minimum) per month on the unpaid amount.</li>
        <li>If the rental charges remains unpaid for fifteen (15) days, Company shall have the full right to vacate tenant from PG/Hostel.</li>
        <li>Rs.2000 is standard refundable advance post leaving PG. Maintenance fee of Rs.3000/- would be deducted from security deposit while leaving PG.</li>
        <li>30 days prior notice is mandatory to vacate PG otherwise security deposit won’t be refunded.
        </li>
        <li>Property manager must be notified while hosting a guest. Additional charges(Rs.1000/-) are applicable on guest stay and food.</li>
        <li>The Customer agrees to make all payments due to the Company including past due charges before the vacating pg.</li>
        <li>The Customer also agrees to pay all other Govt. service charges or GST, which are subjected to change.</li>
      </ul>
  
  </div>
  <div class="container py-5">
    <h4 class="font-weight-light">Contacting Grubstay</h4>
    <p class="lead">
        If you have any questions about these Terms or any App Store Sourced Application, please contact Grubstay at grubstay@gmail.com
    </p>
  </div>
</div>

<app-footer></app-footer>
