<div *ngIf="!(isHandset$ | async)" class="stay-form-main">
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <mat-card class="example-card">
                        <mat-card-title>Looking to stay in Bangalore?</mat-card-title>
                       <mat-card-content>
                         <p>About <b>GRUBSTAY</b></p>
                         <p>A Company that will help you find the perfect stay for you near to your company location or near to college.</p>
                         <p>Get well maintained PG, Flats and Co-living spaces for you.</p>
                         <div class="stay-form-container">
                            <form (ngSubmit)="registerStayForm()">
                                <!-- first name field -->
                                <mat-form-field appearance="standard" class="full-width">
                                    <mat-label>Name</mat-label>
                                    <input matInput type='text' autocomplete="off" name='firstName' [(ngModel)]="stayForm.name"
                                        placeholder="Enter your full name" required>
                                </mat-form-field>

                                <!-- email id field -->
                                <mat-form-field appearance="standard" class="full-width">
                                    <mat-label>Email</mat-label>
                                    <input matInput type='email' autocomplete="new_user-email" name='email' [(ngModel)]="stayForm.email"
                                        placeholder="enter your email address" required>
                                </mat-form-field>
    
                                <!-- phone field -->
                                <mat-form-field appearance="standard" class="full-width" style="margin-top:12px;">
                                    <mat-label>Contact number</mat-label>
                                    <input id="phone" matInput type='number' autocomplete="new_contact_number" name='phone'
                                        [(ngModel)]="stayForm.phone" placeholder="Phone | Contact" (blur)="checkPhone(stayForm.phone)" required>
                                </mat-form-field>
    
                                <!-- whatsapp field -->
                                <mat-form-field appearance="standard" class="full-width">
                                    <mat-label>Whatsapp number</mat-label>
                                    <input id="whatsapp" matInput type='number' autocomplete="new_whatsapp_number" name='whatsapp'
                                        [(ngModel)]="stayForm.whatsapp" placeholder="optional" (blur)="checkWhatsapp(stayForm.whatsapp)" required>
                                    <mat-hint>Make sure you are putting correct number to receive updates via call or text
                                        or WhatsApp</mat-hint>
                                </mat-form-field>
    
                                <mat-form-field appearance="standard" class="full-width">
                                    <mat-label>College</mat-label>
                                    <input matInput type='text' autocomplete="off" name='firstName' [(ngModel)]="stayForm.college"
                                        placeholder="Enter your college name" required>
                                </mat-form-field>

                                <div class="full-width">
                                    <section class="example-section full-width">
                                        <mat-label>In which area you're planning to shift ? *</mat-label><br><br>
                                        <mat-radio-group name="area" [(ngModel)]="stayForm.area">
                                            <mat-radio-button value="HSR Layout">HSR Layout</mat-radio-button><br><br>
                                            <mat-radio-button value="Koramangala">Koramangala</mat-radio-button><br><br>
                                            <mat-radio-button value="Bellandur">Bellandur</mat-radio-button><br><br>
                                            <mat-radio-button value="Marathahalli">Marathahalli</mat-radio-button><br><br>
                                            <mat-radio-button value="Whitefield">Whitefield</mat-radio-button><br><br>
                                            <mat-radio-button value="Electronic City">Electronic City</mat-radio-button><br>
                                        </mat-radio-group>
                                    </section>
                                    <mat-form-field appearance="standard" class="full-width">
                                        <mat-label>Other area</mat-label>
                                        <input matInput type='text' autocomplete="off" name='other' [(ngModel)]="stayForm.area"
                                            placeholder="Enter your area">
                                    </mat-form-field>
                                </div>
                                
                                <mat-form-field appearance="standard" class="full-width">
                                    <mat-label>In which month you are planning to shift? "Any date you can choose but month should be right" </mat-label>
                                    <input required name="dob" placeholder="Eg: dd/mm/yyyy" [(ngModel)]="stayForm.shiftDate" matInput [matDatepicker]="picker" onkeypress="return event.charCode >= 47 && event.charCode <= 57">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field appearance="standard" class="full-width">
                                    <mat-label>REFERRAL CODE ( "Use referral code to get discount in your rent ")</mat-label>
                                    <input matInput type='text' autocomplete="off" name='firstName' [(ngModel)]="stayForm.refrel"
                                        placeholder="Enter your refrel code | optional" >
                                </mat-form-field>
                                <div class="mt-2">
                                    <button type="submit" color="accent" mat-flat-button>Submit</button>
                                </div>
                            </form>
                         </div>
                       </mat-card-content>
                       <mat-card-footer>
                         <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                       </mat-card-footer>
                     </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isHandset$ | async" class="stay-form-main">
    <div class="bootstrap-wrapper">
        <div class="full-width">
            <div class="row">
                <div class="col-12">
                    <mat-card class="example-card">
                        <mat-card-title>Looking to stay in Bangalore?</mat-card-title>
                       <mat-card-content>
                         <p>About <b>GRUBSTAY</b></p>
                         <p>A Company that will help you find the perfect stay for you near to your company location or near to college.</p>
                         <p>Get well maintained PG, Flats and Co-living spaces for you.</p>
                         <div class="stay-form-container">
                            <form (ngSubmit)="registerStayForm()">
                                <!-- first name field -->
                                <mat-form-field appearance="standard" class="full-width">
                                    <mat-label>Name</mat-label>
                                    <input matInput type='text' autocomplete="off" name='firstName' [(ngModel)]="stayForm.name"
                                        placeholder="Enter your full name" required>
                                </mat-form-field>

                                <!-- email id field -->
                                <mat-form-field appearance="standard" class="full-width">
                                    <mat-label>Email</mat-label>
                                    <input matInput type='email' autocomplete="new_user-email" name='email' [(ngModel)]="stayForm.email"
                                        placeholder="enter your email address" required>
                                </mat-form-field>
    
                                <!-- phone field -->
                                <mat-form-field appearance="standard" class="full-width" style="margin-top:12px;">
                                    <mat-label>Contact number</mat-label>
                                    <input id="phone" matInput type='number' autocomplete="new_contact_number" name='phone'
                                        [(ngModel)]="stayForm.phone" placeholder="Phone | Contact" (blur)="checkPhone(stayForm.phone)" required>
                                </mat-form-field>
    
                                <!-- whatsapp field -->
                                <mat-form-field appearance="standard" class="full-width mb-5">
                                    <mat-label>Whatsapp number</mat-label>
                                    <input id="whatsapp" matInput type='number' autocomplete="new_whatsapp_number" name='whatsapp'
                                        [(ngModel)]="stayForm.whatsapp" placeholder="optional" (blur)="checkWhatsapp(stayForm.whatsapp)" required>
                                    <mat-hint>Make sure you are putting correct number to receive updates via call or text
                                        or WhatsApp</mat-hint>
                                </mat-form-field>
    
                                <mat-form-field appearance="standard" class="full-width">
                                    <mat-label>College</mat-label>
                                    <input matInput type='text' autocomplete="off" name='firstName' [(ngModel)]="stayForm.college"
                                        placeholder="Enter your college name" required>
                                </mat-form-field>

                                <div class="full-width">
                                    <section class="example-section full-width">
                                        <mat-label>In which area you're planning to shift ? *</mat-label><br><br>
                                        <mat-radio-group name="area" [(ngModel)]="stayForm.area">
                                            <mat-radio-button value="HSR Layout">HSR Layout</mat-radio-button><br><br>
                                            <mat-radio-button value="Koramangala">Koramangala</mat-radio-button><br><br>
                                            <mat-radio-button value="Bellandur">Bellandur</mat-radio-button><br><br>
                                            <mat-radio-button value="Marathahalli">Marathahalli</mat-radio-button><br><br>
                                            <mat-radio-button value="Whitefield">Whitefield</mat-radio-button><br><br>
                                            <mat-radio-button value="Electronic City">Electronic City</mat-radio-button><br>
                                        </mat-radio-group>
                                    </section>
                                    <mat-form-field appearance="standard" class="full-width">
                                        <mat-label>Other area</mat-label>
                                        <input matInput type='text' autocomplete="off" name='other' [(ngModel)]="stayForm.area"
                                            placeholder="Enter your area">
                                    </mat-form-field>
                                </div>
                                
                                <mat-form-field appearance="standard" class="full-width">
                                    <label>In which month you are planning to shift? "Any date you can choose but month should be right" *</label>
                                    <input required style="margin-top: 5px;" name="dob" placeholder="Eg: dd/mm/yyyy" [(ngModel)]="stayForm.shiftDate" matInput [matDatepicker]="picker" onkeypress="return event.charCode >= 47 && event.charCode <= 57">
                                    <mat-datepicker-toggle style="margin-top: 5px;" matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field appearance="standard" class="full-width">
                                    <label>REFERRAL CODE ( "Use referral code to get discount in your rent ")</label>
                                    <input style="margin-top: 10px;" matInput type='text' autocomplete="off" name='firstName' [(ngModel)]="stayForm.refrel"
                                        placeholder="Enter your refrel code | optional" >
                                </mat-form-field>

                                <div class="mt-2">
                                    <button class="full-width" type="submit" color="accent" mat-flat-button>Submit</button>
                                </div>
                            </form>
                         </div>
                        </mat-card-content>
                       <mat-card-footer>
                         <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                       </mat-card-footer>
                     </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
