<mat-card style="overflow: scroll; height: 80vh; overflow-x: hidden;">
    <mat-action-list>
        <h1 matSubheader>Filter PG</h1>
    </mat-action-list>
    <mat-list role="list">
        <h1 matSubheader>OCCUPANCY</h1>
        <div class="filterOptions">
            <mat-list-item role="listitem">
                <mat-radio-button value="single" (click)="filterUsingOccupency('single')"><small>Single</small></mat-radio-button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-radio-button value="double" (click)="filterUsingOccupency('double')"><small>Double</small></mat-radio-button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-radio-button value="triple" (click)="filterUsingOccupency('triple')"><small>Triple</small></mat-radio-button>
            </mat-list-item>
        </div>
    </mat-list>
    <mat-list role="list">
        <h1 matSubheader>Filter PG</h1>
        <div class="filterOptions">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </div>
    </mat-list>
    <mat-list role="list">
        <h1 matSubheader>Filter PG</h1>
        <div class="filterOptions">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </div>
    </mat-list>
    <mat-list role="list">
        <h1 matSubheader>Filter PG</h1>
        <div class="filterOptions">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </div>
    </mat-list>
</mat-card>