<div class="bootstrap-wrapper">
    <div class="container-fluid mt-20">
        <div class="row">
            <div class="col-3">
                <mat-card style="overflow: scroll; height: 88vh; overflow-x: hidden;">
                    <mat-action-list>
                        <h1 matSubheader>Menu</h1>
                        <!--<button mat-list-item >
                            <mat-icon mat-list-icon>home</mat-icon> Home
                        </button> -->
                        <app-admin-sidebar></app-admin-sidebar>
                    </mat-action-list>
                </mat-card>
            </div>
            <div class="col-9">
                main section
            </div>
        </div>
    </div>
</div>
