<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
</style>
<ngx-ui-loader></ngx-ui-loader>
<app-navbar></app-navbar>
<div *ngIf="floatButton==true">
    <div class="mainopShadow"></div>
    <div class="fab">
        <div class="mainop">
            <i id="addIcon" class="material-icons">call</i>
        </div>
        <div id="forms" class="minifab">
            <a href="https://wa.me/+918050163861/?text=Hi, I am looking for PG"><img class="minifabIcon" src="https://img.icons8.com/color/48/000000/whatsapp--v2.png"></a>
        </div>
        <div id="drawings" class="minifab">
            <a href="tel:+918050163861"><img class="minifabIcon" src="../assets/imgs/call.svg"></a>
        </div>
    </div>
</div>