<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
</style>
<ngx-ui-loader></ngx-ui-loader>
<app-navbar></app-navbar>
<div *ngIf="floatButton==true">
    <div class="mainopShadow"></div>
    <div class="fab">
        <div class="mainop">
            <i id="addIcon" class="material-icons">call</i>
        </div>
        <div id="forms" class="minifab op1">
            <img class="minifabIcon" src="https://vectr.com/doodleblu/a1y8gN8KKN.svg?width=64&height=64&select=a1y8gN8KKNpage0">
        </div>
        <div id="drawings" class="minifab op2">
            <img class="minifabIcon" src="https://vectr.com/doodleblu/b2DCtQvEHF.svg?width=64&height=64&select=b2DCtQvEHFpage0">
        </div>
    </div>
</div>