<div class="container">
    <div class="col-md-8 col-sm-12 col-xs-12 offset-md-2">
        <mat-card class="example-card">
            <mat-card-title>Raise Query ?</mat-card-title>
           <mat-card-content>
             <div class="stay-form-container">
                <form (ngSubmit)="raiseQuery()">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Select Query Type</mat-label>
                        <mat-select name="type" [(ngModel)]="query.type">
                            <mat-option value="male">Complaint</mat-option>
                            <mat-option value="female">Suggestion</mat-option>
                          </mat-select>
                      </mat-form-field>

                    <!-- email id field -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput type='email' autocomplete="new_user-email" name='email' [(ngModel)]="query.email"
                            placeholder="enter your email address" required>
                    </mat-form-field>

                    <!-- phone field -->
                    <mat-form-field appearance="outline" class="full-width" style="margin-top:12px;">
                        <mat-label>Contact number</mat-label>
                        <input id="phone" matInput type='number' autocomplete="new_contact_number" name='phone'
                            [(ngModel)]="query.phone" placeholder="Phone | Contact" (blur)="checkPhone(query.phone)" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width" style="margin-top:12px;">
                        <mat-label>Description</mat-label>
                        <textarea id="desc" matInput autocomplete="desc" name='desc'
                            [(ngModel)]="query.desc" rows="5" placeholder="Write your query..." required></textarea>
                    </mat-form-field>

                    <div class="mt-2">
                        <button class="full-width" type="submit" color="accent" mat-flat-button>Submit</button>
                    </div>
                </form>
             </div>
            </mat-card-content>
         </mat-card>
    </div>
</div>
<app-footer></app-footer>
