<section class="gradient-custom-2">
    <div *ngFor="let order of allOrders" class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-10 col-lg-8 col-xl-6">
          <div class="card card-stepper" style="border-radius: 16px;">
            <div class="card-header p-4">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <p class="text-muted mb-2 "> Booking ID <span class="fw-bold text-body">{{order.orderID}}</span></p>
                  <p class="text-muted mb-0"> Booked On <span class="fw-bold text-body">{{order.bookingDate}}</span> </p>
                  <p class="text-muted mb-0"> Receipt <span class="fw-bold text-body">{{order.recipt}}</span> </p>
                </div>
              </div>
            </div>
            <div class="card-body p-4">
              <div class="d-flex flex-row pb-2">
                <div class="flex-fill">
                  <h5 class="bold">{{order.pgName}}</h5>
                  <p class="text-muted">Sharing Type : <b>{{order.sharingType}}</b></p>
                  <p class="text-muted">Booking Status : <b>{{order.bookingStatus}}</b></p>
                  <p class="text-muted">Payment Status : <b>{{order.status}}</b></p>
                  <p class="text-muted">Payment ID : <b>{{order.paymentID}}</b></p>
                  <h4 class="mb-3"> &#8377; {{order.amount}} <span class="small text-muted"> via (Online) </span></h4>
                  <p class="text-muted">Reserve Upto Date in (YYYY-MM-DD) : <span class="text-body">{{order.reserveDate}}</span></p>
                </div>
              </div>
            </div>
            <div class="card-footer p-4">
              <div class="d-flex justify-content-between">
                <h5 *ngIf="order.canCancel && order.bookingStatus=='BOOKED'" class="fw-normal mb-0"><button type="button" class="btn btn-outline-danger" (click)="cancelMyBooking(order.orderID)">Cancel Booking</button></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
