<div class="bootstrap-wrapper">
    <button mat-raised-button color="primary" (click)="openPgDialog()">
        <mat-icon>add</mat-icon>
        Add PG
    </button><br>
    <mat-form-field appearance="standard" class="full-width">
        <mat-label>Search PG</mat-label>
        <input matInput name="filter" autocomplete="off" (keyup)="filterPg($event)" placeholder="Search PG..."
            #input>
    </mat-form-field>
    <div class="container-fluid">
        <div class="row mt-2" style="max-height: 62vh; overflow: scroll; overflow-x: hidden">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let pg">
                        <button mat-icon-button (click)="editItem(pg.pgId)">
                            <mat-icon mat-fav-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deletePg(pg.pgId)">
                            <mat-icon mat-fav-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button (click)="viewGal(pg.pgId)">
                            <mat-icon mat-fav-icon>visibility</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Sub Location -->
                <ng-container matColumnDef="subLocation">
                    <th mat-header-cell *matHeaderCellDef> Sub Location </th>
                    <td mat-cell *matCellDef="let pg"> {{pg.subLocation.subLocationName}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="pgName">
                    <th mat-header-cell *matHeaderCellDef> PG Name </th>
                    <td mat-cell *matCellDef="let pg"> {{pg.pgName}} </td>
                </ng-container>

                <!--  Address column-->
                <ng-container matColumnDef="pgAddress">
                    <th mat-header-cell *matHeaderCellDef> Address </th>
                    <td matTooltip="{{pg.pgAddress}}" [matTooltipPosition]="'before'" mat-cell *matCellDef="let pg"> {{pg.pgAddress.length > 20 ? pg.pgAddress.substring(0,20).concat('...') : pg.pgAddress}} </td>
                </ng-container>

                 <!--  Single member price column-->
                 <ng-container matColumnDef="singleMemPgPrc">
                    <th mat-header-cell *matHeaderCellDef> S.M Price </th>
                    <td mat-cell *matCellDef="let pg"> {{pg.singleMemPgPrc}} </td>
                </ng-container>

                 <!--  Double member price column-->
                 <ng-container matColumnDef="doubleMemPgPrc">
                    <th mat-header-cell *matHeaderCellDef> D.M Price </th>
                    <td mat-cell *matCellDef="let pg"> {{pg.doubleMemPgPrc}} </td>
                </ng-container>

                <!--  Triple member price column-->
                <ng-container matColumnDef="tripleMemPgPrc">
                    <th mat-header-cell *matHeaderCellDef> T.M Price </th>
                    <td mat-cell *matCellDef="let pg"> {{pg.tripleMemPgPrc}} </td>
                </ng-container>

                <!--  Distance form sub location column-->
                <ng-container matColumnDef="distFromSubLoc">
                    <th mat-header-cell *matHeaderCellDef> Distance </th>
                    <td mat-cell *matCellDef="let pg"> {{pg.distFromSubLoc}} </td>
                </ng-container>

                <!--  Service column-->
                <ng-container matColumnDef="service">
                    <th mat-header-cell *matHeaderCellDef> Service </th>
                    <td mat-cell *matCellDef="let pg"> {{pg.status ? 'active' : 'inactive'}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- message shown when no record found -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
        </div>
    </div>
</div>

