<div class="bootstrap-wrapper">
    <div class="container-fluid states-slider">
        <h2>Cities Nearby</h2>
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let slide of slidesStore">
              <ng-template [width]="100" carouselSlide [id]="slide.id">
                <mat-card class="example-card">
                    <div class="img-sec">
                        <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
                    </div>

                    <h4 class="text-center city-name">{{slide.title}}</h4>
                    <p class="text-center stays-no">{{slide.stayNo}}</p>
                </mat-card>
              </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</div>
