<div class="dialog-container">
    <h2 mat-dialog-title>Paying Guest Gallery - {{pgName}}</h2>
    <mat-dialog-content class="mat-typography content">
      <div class="bootstrap-wrapper">
        <div class="container">
          <div class="row">
              <div class="col-md-4 mt-4" *ngFor="let item of pgGallery">
                <mat-card class="card">
                    <img mat-card-image [src]="sanitizer.bypassSecurityTrustUrl(item)" alt="pgImg">
                </mat-card>
              </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</div>