<div class="homepage-header">

  <img src="../../../assets/imgs/homepag-header.jpg" alt="homepage_header">
  <div class="overlay"></div>
  <div *ngIf="(isHandset$ | async)" class="search-bar">
    <button [routerLink]="['/search-stay']" routerLinkActive="router-link-active"  mat-icon-button>Where you want to stay ? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon class="search-icon">search</mat-icon></button>
  </div>
  <div *ngIf="!(isHandset$ | async)" class="search-bar">
    <button (click)="openSearchDialog()" routerLinkActive="router-link-active"  mat-icon-button>Where you want to stay ? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon class="search-icon">search</mat-icon></button>
  </div>
</div>
<app-location-carousel></app-location-carousel>
<!-- section-adv-1 -->
<div id="section-adv-1">
  <div class="bootstrap-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <mat-card id="adv1-card" class="adv1-card">
            <div class="adv1-content">
              <h5 class="text-center">Looking for Stay ?</h5>
              <h6 class="text-center">Get the stay that are Affordabele with all
                <br>
                the Amenities so that you can enjoy
                <br>
                your Comfort Zone.
              </h6>
            </div>
            <div class="adv1-img-sec">
              <img src="../../../assets/imgs/adv1.jpeg" alt="adv1_img">
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- section-adv-1-end -->
<app-stay-carousel></app-stay-carousel>
<!-- section-refrel -->
<div class="section-refrel">
  <div class="bootstrap-wrapper">
    <div class="container-fluid">
      <mat-card class="refrel-part">
        <div class="row ">
          <div class="col-md-6 col-6 col-sm-6 col-xs-6">
            <div class="refrel-content">
              <h1 *ngIf="!(isHandset$ | async)"  class="text-center">Refer A Friend</h1>
              <h3 *ngIf="isHandset$ | async">Refer A Friend</h3>
              <h3 *ngIf="!(isHandset$ | async)" class="text-center">Earn upto 5000</h3>
              <h4 *ngIf="(isHandset$ | async)" class="text-center">Earn upto 5000</h4>
              <h4 *ngIf="!(isHandset$ | async)" class="text-center">Terms and Conditions apply*</h4>
              <p *ngIf="(isHandset$ | async)" class="text-center">Terms and Conditions apply*</p>
            </div>
          </div>
          <div class="col-md-6 col-6 col-sm-6 col-xs-6">
            <div class="refrel-img">
              <img src="../../../assets/imgs/refer-a-friend.png" alt="refrel">
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<!-- section-refrel-end -->
<app-travel-nearby></app-travel-nearby>
<div class="mainopShadow"></div>
<div class="fab">
  <div class="mainop">
    <i id="addIcon" class="material-icons">add</i>
  </div>
  <div id="forms" class="minifab op5">
    <img class="minifabIcon" src="https://vectr.com/doodleblu/a1y8gN8KKN.svg?width=64&height=64&select=a1y8gN8KKNpage0">
  </div>
  <div id="drawings" class="minifab op4">
    <img class="minifabIcon" src="https://vectr.com/doodleblu/b2DCtQvEHF.svg?width=64&height=64&select=b2DCtQvEHFpage0">
  </div>
  <div id="slides" class="minifab op3">
    <img class="minifabIcon" src="https://vectr.com/doodleblu/a12WZHDh0z.svg?width=64&height=64&select=a12WZHDh0zpage0">
  </div>
  <div id="sheets" class="minifab op2">
    <img class="minifabIcon" src="https://vectr.com/doodleblu/eoOhnACDe.svg?width=64&height=64&select=eoOhnACDepage0">
  </div>
  <div id="docs" class="minifab op1">
    <img class="minifabIcon" src="https://vectr.com/doodleblu/bo4WGZSAK.svg?width=64&height=64&select=bo4WGZSAKpage0">
  </div>
</div>
<app-footer></app-footer>
