<div class="homepage-header">

  <img src="../../../assets/imgs/homepag-header.jpg" alt="homepage_header">
  <div class="overlay"></div>
  <div class="search-bar">
    <input class="search-input" type="text" placeholder="Where you want to stay ?">
    <mat-icon class="search-icon">search</mat-icon>
  </div>
</div>
<app-location-carousel></app-location-carousel>
<!-- section-adv-1 -->
<div id="section-adv-1">
  <div class="bootstrap-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <mat-card id="adv1-card" class="adv1-card">
            <div class="adv1-content">
              <h4 class="text-center">Looking for Stay ?</h4>
              <h5 class="text-center">Get the stay that are Affordabele with all
                <br>
                the Amenities so that you can enjoy
                <br>
                your Comfort Zone.
              </h5>
            </div>
            <div class="adv1-img-sec">
              <img src="../../../assets/imgs/adv1.jpeg" alt="adv1_img">
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- section-adv-1-end -->
<app-stay-carousel></app-stay-carousel>
<!-- section-refrel -->
<div class="section-refrel">
  <div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="refrel-content">
                <h2 class="text-center">Refer A Friend</h2>
                <h4 class="text-center">Earn upto 5000</h4>
                <h6 class="text-center">Terms and Condition apply*</h6>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="refrel-img">
                <img src="../../../assets/imgs/refer-a-friend.png" alt="refrel">
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- section-refrel-end -->
