<div class="homepage-header">

  <img src="../../../assets/imgs/homepag-header.jpg" alt="homepage_header">
  <div class="overlay"></div>
  <div *ngIf="(isHandset$ | async)" class="search-bar">
    <button [routerLink]="['/search-stay']" routerLinkActive="router-link-active"  mat-icon-button>Where you want to stay ? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon class="search-icon">search</mat-icon></button>
  </div>
  <div *ngIf="!(isHandset$ | async)" class="search-bar">
    <button (click)="openSearchDialog()" routerLinkActive="router-link-active"  mat-icon-button>Where you want to stay ? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon class="search-icon">search</mat-icon></button>
  </div>
</div>
<app-location-carousel></app-location-carousel>
<!-- section-adv-1 -->
<div id="section-adv-1">
  <div class="bootstrap-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <mat-card id="adv1-card" class="adv1-card">
            <div class="adv1-content">
              <h5 class="text-center">Looking for Stay ?</h5> 
              <h6 class="text-center">Get the stay that are Affordable with all
                <br>
                the Amenities so that you can enjoy
                <br>
                your Comfort Zone.
              </h6>
            </div>
            <div class="adv1-img-sec">
              <img src="../../../assets/imgs/adv1.jpeg" alt="adv1_img">
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- section-adv-1-end -->
<app-stay-carousel></app-stay-carousel>
<!-- work location -->
<div class="work mt-20 p-2">
  <div class="work1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-8">
          <div class="mt-2" *ngIf="(isHandset$ | async)">
            <h5>Get Stay Near to</h5>
            <h5>your Work Location</h5>
            <span style="font-size: 75%; line-height: 16px; display:block">To get the details near to your work location just connect us on WhatsApp so according to that we will tell you</span>
            <div class="mt-3 mb-3">
              <a *ngIf="(isHandset$ | async)" href="https://wa.me/+918050163861/?text=Hi, I am looking for PG" style="background-color: #25D366; color: white;" mat-flat-button>WhatsApp</a>
            </div>
          </div>
          <div class="mt-2" *ngIf="!(isHandset$ | async)">
            <h2>Get Stay Near to</h2>
            <h2>your Work Location</h2>
            <span>To get the details near to your work location just connect us on WhatsApp <br> so according to that we will tell you</span>
            <div class="mt-3 mb-3">
              <a *ngIf="!(isHandset$ | async)" href="https://wa.me/+918050163861/?text=Hi, I am looking for PG" style="background-color: #25D366; color: white;" mat-flat-button target="_blank">WhatsApp</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div *ngIf="!(isHandset$ | async)">
            <img style="height:260px; width: 250px;" src="../../../assets/workLocation.png" alt="work">
          </div>
          <div *ngIf="(isHandset$ | async)">
            <img style="height:170px; width: 130px;" src="../../../assets/workLocation.png" alt="work">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end work location -->
<app-travel-nearby></app-travel-nearby>
<!-- section-refrel -->
<div class="section-refrel">
  <div class="bootstrap-wrapper">
    <div class="container-fluid">
      <mat-card class="refrel-part">
        <div class="row">
          <div class="p-2" *ngIf="(isHandset$ | async)">
            <div class="container p-3">
              <form (ngSubmit)="requestCall()">
                <!-- username field -->
                <div class="mb-3">
                  <input name="name" type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="request.name" placeholder="Full Name">
                </div>
                <div class="mb-3">
                  <input name="email" type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="request.email" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                  <input name="phone" type="number" class="form-control" id="exampleFormControlInput1" [(ngModel)]="request.phone" placeholder="Contact Number">
                </div>
                <div class="container">
                    <div class="row">
                        <button [disabled]="!request.name || !request.phone || !request.email" type="submit" mat-raised-button color="accent">Request Callback</button>
                    </div>
                </div>
              </form>
            </div>
          </div>
          <div class="p-2" *ngIf="!(isHandset$ | async)">
            <div class="container p-3">
                <div class="row">
                  <div style="user-select: none;" class="col">
                    <img style="max-height: 230px; user-select: none;" src="../../../assets/callback.png" alt="callback">
                  </div>
                  <div class="col">
                    <form (ngSubmit)="requestCall()">
                      <!-- username field -->
                      <div class="mb-3">
                        <input name="name" type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="request.name" placeholder="Full Name">
                      </div>
                      <div class="mb-3">
                        <input name="email" type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="request.email" placeholder="name@example.com">
                      </div>
                      <div class="mb-3">
                        <input name="phone" type="number" class="form-control" id="exampleFormControlInput1" [(ngModel)]="request.phone" placeholder="Contact Number">
                      </div>
                      <div class="container">
                          <div class="row">
                              <button [disabled]="!request.name || !request.phone || !request.email" type="submit" mat-raised-button color="accent">Request Callback</button>
                          </div>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<!-- section-refrel-end -->
<!-- accordian -->
<div *ngIf="(isHandset$ | async)" class="accordian mt-10">
  <div>
    <div [ngClass]="{'container-fluid': !(isHandset$ | async)}">
      <div class="row">
        <div class="col-12">
          <mat-accordion>
            <mat-expansion-panel *ngFor="let item of city" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6>Stays in {{covertToCamelCase(item.city_name)}}</h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div *ngFor="let location of location">
                <p *ngIf="item.city_id == location.city_id">
                  <a style="text-align:left; padding-left:10px; color: #252323;" (click)=goTo(location) class="full-width" mat-button>PG in {{covertToCamelCase(location.location_name)}}</a>
                </p>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end accordian -->
<!-- start tabs  -->
<div style="padding: 20px;" *ngIf="!(isHandset$ | async)">
  <mat-tab-group>
    <mat-tab label="Banglore"> 
      <div class="container-fluid mt-2 mr-2 ml-2">
        <div class="row">
          <div class="col-3">
            <ul type="none">
              <li><h6>Top Searches</h6></li>
              <li><a href="pg/bangalore">PG in Banglore</a></li>
              <li><a href="pg/bangalore">PG in Banglore for Mens</a></li>
              <li><a href="pg/bangalore">PG in Banglore for Womens/Girls</a></li>
            </ul>
          </div>
          <div *ngIf="bangLorelocation.length > 0" class="col-3">
            <ul type="none">
              <li *ngFor="let location of bangLorelocation.slice(0,bangPart1)"><a (click)=goTo(location) class="btn">PG in {{covertToCamelCase(location.location_name)}}</a></li>
            </ul>
          </div>
          <div class="col-3">
            <ul type="none">
              <li *ngFor="let location of bangLorelocation.slice(bangPart1,bangPart2)"><a (click)=goTo(location) class="btn">PG in {{covertToCamelCase(location.location_name)}}</a></li>
            </ul>
          </div>
          <div class="col-3">
            <ul type="none">
              <li *ngFor="let location of bangLorelocation.slice(bangPart2)"><a (click)=goTo(location) class="btn">PG in {{covertToCamelCase(location.location_name)}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Mumbai"> 
      <div class="container-fluid mt-2 mr-2 ml-2">
        <div class="row">
          <div class="col-3">
            <ul type="none">
              <li><h6>Top Searches</h6></li>
              <li><a href="pg/mumbai">PG in Mumbai</a></li>
              <li><a href="pg/mumbai">PG in Mumbai for Mens</a></li>
              <li><a href="pg/mumbai">PG in Mumbai for Womens/Girls</a></li>
            </ul>
          </div>
          <div *ngIf="mumbaiLocation.length > 0" class="col-3">
            <ul type="none">
              <li *ngFor="let location of mumbaiLocation.slice(0,mumPart1)"><a (click)=goTo(location) class="btn">PG in {{covertToCamelCase(location.location_name)}}</a></li>
            </ul>
          </div>
          <div class="col-3">
            <ul type="none">
              <li *ngFor="let location of mumbaiLocation.slice(mumPart1,mumPart2)"><a (click)=goTo(location) class="btn">PG in {{covertToCamelCase(location.location_name)}}</a></li>
            </ul>
          </div>
          <div class="col-3">
            <ul type="none">
              <li *ngFor="let location of mumbaiLocation.slice(mumPart2)"><a (click)=goTo(location) class="btn">PG in {{covertToCamelCase(location.location_name)}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Delhi"> 
      <div class="container-fluid mt-2 mr-2 ml-2">
        <div class="row">
          <div class="col-3">
            <ul type="none">
              <li><h6>Top Searches</h6></li>
              <li><a href="pg/delhi">PG in Delhi</a></li>
              <li><a href="pg/delhi">PG in Delhi for Mens</a></li>
              <li><a href="pg/delhi">PG in Delhi for Womens/Girls</a></li>
            </ul>
          </div>
          <div *ngIf="delhiLocation.length > 0" class="col-3">
            <ul type="none">
              <li *ngFor="let location of delhiLocation.slice(0,delPart1)"><a (click)=goTo(location) class="btn">PG in {{covertToCamelCase(location.location_name)}}</a></li>
            </ul>
          </div>
          <div class="col-3">
            <ul type="none">
              <li *ngFor="let location of delhiLocation.slice(delPart1,delPart2)"><a (click)=goTo(location) class="btn">PG in {{covertToCamelCase(location.location_name)}}</a></li>
            </ul>
          </div>
          <div class="col-3">
            <ul type="none">
              <li *ngFor="let location of delhiLocation.slice(delPart2)"><a (click)=goTo(location) class="btn">PG in {{covertToCamelCase(location.location_name)}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Pune"> 
      <div class="container-fluid mt-2 mr-2 ml-2">
        <div class="row">
          <div class="col-3">
            <ul type="none">
              <li><h6>Top Searches</h6></li>
              <li><a href="pg/pune">PG in Pune</a></li>
              <li><a href="pg/pune">PG in Pune for Mens</a></li>
              <li><a href="pg/pune">PG in Pune for Womens/Girls</a></li>
            </ul>
          </div>
          <div *ngIf="puneLocation.length > 0" class="col-3">
            <ul type="none">
              <li *ngFor="let location of puneLocation.slice(0,punPart1)"><a (click)=goTo(location) class="btn">PG in {{covertToCamelCase(location.location_name)}}</a></li>
            </ul>
          </div>
          <div class="col-3">
            <ul type="none">
              <li *ngFor="let location of puneLocation.slice(punPart1,punPart2)"><a (click)=goTo(location) class="btn">PG in {{covertToCamelCase(location.location_name)}}</a></li>
            </ul>
          </div>
          <div class="col-3">
            <ul type="none">
              <li *ngFor="let location of puneLocation.slice(punPart2)"><a (click)=goTo(location) class="btn">PG in {{covertToCamelCase(location.location_name)}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Hyderabad"> 
      <div class="container-fluid mt-2 mr-2 ml-2">
        <div class="row">
          <div class="col-3">
            <ul type="none">
              <li><h6>Top Searches</h6></li>
              <li><a href="pg/hyderabad">PG in Hyderabad</a></li>
              <li><a href="pg/hyderabad">PG in Hyderabad for Mens</a></li>
              <li><a href="pg/hyderabad">PG in Hyderabad for Womens/Girls</a></li>
            </ul>
          </div>
          <div *ngIf="hyderabadLocation.length > 0" class="col-3">
            <ul type="none">
              <li *ngFor="let location of hyderabadLocation.slice(0,hydPart1)"><a (click)=goTo(location) class="btn">PG in {{covertToCamelCase(location.location_name)}}</a></li>
            </ul>
          </div>
          <div class="col-3">
            <ul type="none">
              <li *ngFor="let location of hyderabadLocation.slice(hydPart1,hydPart2)"><a (click)=goTo(location) class="btn">PG in {{covertToCamelCase(location.location_name)}}</a></li>
            </ul>
          </div>
          <div class="col-3">
            <ul type="none">
              <li *ngFor="let location of hyderabadLocation.slice(hydPart2)"><a (click)=goTo(location) class="btn">PG in {{covertToCamelCase(location.location_name)}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<!-- end of tabs -->
<app-footer></app-footer>
