<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row dialog-header">
            <!-- <h4 style="margin-top:30px;">Add City</h4> -->
            <div class="col-11" style="margin-top:30px;">
                <h3 style="margin-left:25px">Add City</h3>
            </div>
            <div class="col-1" style="margin-top:7px;">
                <mat-icon mat-dialog-close class="class_button  " style="float:right;">close</mat-icon>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div style="padding:20px;">
                    <form (ngSubmit)="addCity()">

                        <div class="row">
                            <div class="col-8">
                                <mat-form-field appearance="standard" class="full-width" autocomplete="off">
                                    <mat-label>City Name</mat-label>
                                    <input textToUpperCase matInput autocomplete="new_name" type='text' name='city_name' [(ngModel)]="city.cityName" placeholder="Enter city name" [disabled]="city.operation=='edit'">
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-slide-toggle
                                    [(ngModel)]="city.status"
                                    name="active"
                                    class="mt-2">
                                    Status
                                </mat-slide-toggle>
                            </div>
                        </div>
                        <!-- cityname field -->

                        <!-- city select file-->
                        <div class="row">
                            <div class="col-8">
                                <label for="formFileSm" class="form-label">City Image</label>
                                <input (change)="onSelectImage($event)" class="form-control form-control-sm" id="city_image" type="file">
                                <h6 style="margin-top:8px; font-size:12px;">{{imageName}}</h6>
                            </div>
                            <div class="col-4">
                                <div *ngIf="imageUrl" class="image-preview mt-2">
                                    <img [src]="imageUrl">
                                </div>
                                <!-- <div class="image-preview mt-2" *ngIf="city.operation=='edit' && imageUrl==''">
                                    <img [src]="sanitizer.bypassSecurityTrustUrl(city.cityImage)" alt="">
                                </div> -->
                            </div>
                        </div>

                        
                        <div class="container text-center mt-10">
                            <div class="row">
                                <button type="submit" mat-raised-button color="accent" style="align-content:center;" *ngIf="city.operation!='edit'">Add
                                    City</button>&nbsp;
                                    <button type="submit" mat-raised-button color="accent" style="align-content:center;" *ngIf="city.operation=='edit'">Update
                                        City</button>&nbsp;
                                    <span class="logo">GRUBSTAY</span>  
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>