<mat-card style="overflow: scroll; height: 80vh; overflow-x: hidden;">
    <mat-action-list>
        <h1 matSubheader>Admin Dashboard</h1>
        <button (click)="navigateTo('/admin/','All Details')" mat-list-item >
            <mat-icon mat-list-icon>home</mat-icon> Home
        </button>
        <app-location-tree></app-location-tree>
        <app-pg-tree></app-pg-tree>
        <button (click)="logout()" mat-list-item >
            <mat-icon mat-list-icon>logout</mat-icon> Logout
        </button>
    </mat-action-list>
</mat-card>
