/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.toolbar{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.full-width{
    width:100% !important;
}
.bg-black{
    background:#303030 !important;
    color:white;
}
.text-center{
    text-align:center !important;
}
.accent{
    color:#E91E63 !important;
}
.mt-20{
    margin-top:20px !important
}
.mt-10{
    margin-top:10px !important;
}
.mt-5{
    margin-top:5px !important;
}
.mr-10{
    margin-right:10px !important;
}
.mb-5{
    margin-bottom:5px !important;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    transition: all 0.1s ease;
  }
  
  @media only screen and (max-width: 768px) {
        .logo {
          font-weight: 600;
          font-size: 22px;
        }
  }
  
  @media only screen and (max-width: 320px) {
        .logo {
          font-weight: 600;
          font-size: 20px;
        }
  }
.logo-sm {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.1s ease;
}

.mat-dialog-container{
    padding:0px !important;
    overflow-x: hidden !important;
}
  
@media only screen and (max-width: 768px) {
    .logo-sm {
        font-weight: 400;
        font-size: 16px;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  /* width */
::-webkit-scrollbar {
    width: 5px;
    }
    
    
    
    /* Track */
    

    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #FF4081;
    }

    tr.mat-header-row{
        background-color: #3F51B5;
        height:35px !important;
    }
    th.mat-header-cell{
        color:white; 
        font-size:13px;
    }
    .mat-cell, .mat-footer-cell{
        font-size:12px;
    }
    tr.mat-row, tr.mat-footer-row{
        height: 35px !important;
    }
    .mat-list-base .mat-list-item .mat-list-icon, .mat-list-base .mat-list-option .mat-list-icon {
        font-size: 18px !important;
    }
    .sidebar-label{
        font-size:13px;
    }
    .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
        padding:0px 7px !important;
    }
    .mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar{
        height:30px !important;
    }
    .mat-tree-node{
        min-height: 35px !important; 
    }
    .dialog-header{
        height: 90px;
        color: white;
        background:#3F51B5;
        text-align: center;
    }
.mat-snack-bar-container.error-class {
    background: rgb(248, 168, 175) !important;
}
.error-class .mat-simple-snackbar {
    color: #9D1C24 !important;
}

.mat-snack-bar-container.success-class {
    background:rgb(146, 230, 165) !important;
}
.success-class .mat-simple-snackbar {
    color: #155724 !important;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
.class_button:hover{
    background:red;
}


#div * { 
    -webkit-user-select: none;  
     -moz-user-select: none;    
     -ms-user-select: none;      
     user-select: none;
   }

h1{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
h2{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
h3{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
h4{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
h5{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
h6{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
p{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
i{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}


.mat-menu-panel{
    min-height: 50px;
    background: none;
    padding-left: 10px;
    padding-top: 0px;
}
.mat-menu-content{
    margin-bottom: 10px;
}