/* .main-content{
    height: 200px;
    width: 300px;
} */

.states-slider3{
    margin-top: 2em;
    padding: 0em 5em;
}

.states-slider3 h2{
    margin-bottom: 1em;
}

.example-card3{
    /* height: 200px; */
    width:100%;
    margin: auto;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
}

.img-sec2{
    /* height: 250px; */
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
}

.img-sec3 img{
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}

.travel-nearby-name{
    margin-top: .5em;
    white-space: nowrap;
}

@media screen and (max-width:688px) {

    .states-slider3{
        /* margin-top: 2em; */
        padding: 0em 1em;
    }
}
