<div class="bootstrap-wrapper">
    <div class="container-fluid states-slider2">
        <h4>Top Localities</h4>
        <owl-carousel-o [options]="customOptions2">
            <ng-container *ngFor="let slide of stayStore">
              <ng-template [width]="100" carouselSlide [id]="slide.id">
                <mat-card class="example-card2">
                    <div class="img-sec2">
                        <img [src]="slide.src" [routerLink]="['pg/bangalore/'+slide.title.toLowerCase().split(' ').join('-').trim()+'/']" routerLinkActive="router-link-active"  [alt]="slide.alt" [title]="slide.title">
                    </div>
                    <h6 style="font-size: 14px;" [routerLink]="['pg/bangalore/'+slide.title.toLowerCase().split(' ').join('-').trim()+'/']" class="text-center city-name2">{{slide.title}}</h6>
                </mat-card>
              </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</div>