<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
            <div class="col md-12 col-sm-12 col-xs-12 form-group text-center">
                <div>
                    <img src="../../../assets/loginicon.png" style="height:200px; width:200px;">
                    <h2 class="accent">Login</h2>
                </div>
                <div>
                    <form (ngSubmit)="login()">
                        <!-- username field -->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Username</mat-label>
                            <input 
                                matInput
                                type='text'
                                name='username'
                                [(ngModel)]="user.username"
                                placeholder="Placeholder"
                                required>
                          </mat-form-field>

                          <!-- password field -->
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Password</mat-label>
                            <input 
                                matInput
                                type='text'
                                name='password'
                                [(ngModel)]="user.password"
                                placeholder="Placeholder"
                                required>
                          </mat-form-field>
                        <button type="submit" mat-raised-button color="accent">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
  